{include="header2"}
<script type="text/javascript">
	alert("Recuerda que debes imprimir en horizontal!");
	window.print();
</script>

{if="$fsc->servicio"}
<div class="container-fluid">
	<!-- Media Página 1 -->
	<div class="row">
		<div class="col-xs-6">
			<div class="row" style="font-size:85%">
				<div class="col-xs-12">
					<div class="col-xs-6">
						<h3><strong>{$fsc->st['st_servicio']}: </strong>{$fsc->servicio->codigo}<br/></h3>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-6">
						<strong>Fecha:</strong> {$fsc->servicio->fecha}<br/>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-6">
						<strong>Hora:</strong> {$fsc->servicio->hora}
					</div>
				</div>
				<div class="col-xs-12"><br/>
					<div class="col-xs-4">
						<strong>Nombre:</strong><br/>{$fsc->servicio->nombrecliente}
					</div>
					<div class="col-xs-4">
						<strong>Teléfono fijo:</strong><br/>{$fsc->cliente->telefono1}
					</div>
					<div class="col-xs-4">
						<strong>Teléfono móvil:</strong><br/>{$fsc->cliente->telefono2}
					</div>
				</div>
				<div class="col-xs-12">
					{if="$fsc->servicios_setup['servicios_mostrar_material']"}
					<div class="col-xs-4">
						<strong>{$fsc->st['st_material']}:</strong><br/>{$fsc->servicio->material}
					</div>
					{/if}
				</div>
				<div class="col-xs-12">
					{if="$fsc->servicios_setup['servicios_mostrar_material_estado']"}
					<div class="col-xs-6">
						<strong>{$fsc->st['st_material_estado']}</strong><br/>{$fsc->servicio->material_estado}
					</div>
					{/if}
					{if="$fsc->servicios_setup['servicios_mostrar_accesorios']"}
					<div class="col-xs-6">
						<strong>{$fsc->st['st_accesorios']}:</strong><br/>{$fsc->servicio->accesorios}
					</div>
					{/if}
				</div>
				<div class="col-xs-12">
					<div class="col-xs-12">
						<br/>
						<strong>{$fsc->st['st_descripcion']}:</strong><br/>{$fsc->servicio->descripcion}
					</div>
				</div>
				<div class="col-xs-12">
					{if="$fsc->servicios_setup['servicios_mostrar_solucion']"}
					<div class="col-xs-12">
						<strong>{$fsc->st['st_solucion']}:</strong><br/>{$fsc->servicio->solucion}
					</div>
					{/if}
				</div>
				<div class="col-xs-12">
					<div class="col-xs-12">
						<strong>Observaciones:</strong><br/>{$fsc->servicio->observaciones}
					</div>
				</div>
				<div class="col-xs-12">
					<br/>
					{if="$fsc->agente"}
					<div class="col-xs-4">
						<strong>Le atendió:</strong><br/>{$fsc->agente->get_fullname()}
					</div>
					{/if}
					<div class="col-xs-4">
						<strong>Teléfono:</strong><br/>{$fsc->empresa->telefono}
					</div>
					{if="$fsc->agente"}
					<div class="col-xs-4">
						<strong>Email:</strong><br/> {$fsc->agente->email}
					</div>
					{/if}
				</div>
                                <div class="col-xs-12">
					<br/>
					{if="$fsc->servicios_setup['servicios_mostrar_fechainicio']"}
					<div class="col-xs-6">
						<strong>{$fsc->st['st_fechainicio']}:</strong><br/>{$fsc->servicio->fechainicio}
					</div>
					{/if}
					{if="$fsc->servicios_setup['servicios_mostrar_fechafin']"}
					<div class="col-xs-6">
						<strong>{$fsc->st['st_fechafin']}:</strong><br/>{$fsc->servicio->fechafin}
					</div>
					{/if}
				</div>
				<div class="col-xs-12">
					<br/>
					<font size="1"><p align="justify">{$fsc->condiciones()}</p></font>
				</div>
			</div>
		</div>
	<!-- Media Página 2 -->
		<div class="col-xs-6">
			<div class="row" style="font-size:85%">
				<div class="col-xs-12">
					<div class=			"col-xs-6">
						<h3><strong>{$fsc->st['st_servicio']}: </strong>{$fsc->servicio->codigo}<br/></h3>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-6">
						<strong>Fecha:</strong> {$fsc->servicio->fecha}<br/>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-6">
						<strong>Hora:</strong> {$fsc->servicio->hora}
					</div>
				</div>
				<div class="col-xs-12"><br/>
					<div class="col-xs-4">
						<strong>Nombre:</strong><br/>{$fsc->servicio->nombrecliente}
					</div>
					<div class="col-xs-4">
						<strong>Teléfono fijo:</strong><br/>{$fsc->cliente->telefono1}
					</div>
					<div class="col-xs-4">
						<strong>Teléfono móvil:</strong><br/>{$fsc->cliente->telefono2}
					</div>
				</div>
				<div class="col-xs-12">
					{if="$fsc->servicios_setup['servicios_mostrar_material']"}
					<div class="col-xs-4">
						<strong>{$fsc->st['st_material']}:</strong><br/>{$fsc->servicio->material}
					</div>
					{/if}
				</div>
				<div class="col-xs-12">
					{if="$fsc->servicios_setup['servicios_mostrar_material_estado']"}
					<div class="col-xs-6">
						<strong>{$fsc->st['st_material_estado']}</strong><br/>{$fsc->servicio->material_estado}
					</div>
					{/if}
					{if="$fsc->servicios_setup['servicios_mostrar_accesorios']"}
					<div class="col-xs-6">
						<strong>{$fsc->st['st_accesorios']}:</strong><br/>{$fsc->servicio->accesorios}
					</div>
					{/if}
				</div>
				<div class="col-xs-12">
					<div class="col-xs-12">
						<br/>
						<strong>{$fsc->st['st_descripcion']}:</strong><br/>{$fsc->servicio->descripcion}
					</div>
				</div>
				<div class="col-xs-12">
					{if="$fsc->servicios_setup['servicios_mostrar_solucion']"}
					<div class="col-xs-12">
						<strong>{$fsc->st['st_solucion']}:</strong><br/>{$fsc->servicio->solucion}
					</div>
					{/if}
				</div>
				<div class="col-xs-12">
					<div class="col-xs-12">
						<strong>Observaciones:</strong><br/>{$fsc->servicio->observaciones}
					</div>
				</div>
				<div class="col-xs-12">
					<br/>
					{if="$fsc->agente"}
					<div class="col-xs-4">
						<strong>Le atendió:</strong><br/>{$fsc->agente->get_fullname()}
					</div>
					{/if}
					<div class="col-xs-4">
						<strong>Teléfono:</strong><br/>{$fsc->empresa->telefono}
					</div>
					{if="$fsc->agente"}
					<div class="col-xs-4">
						<strong>Email:</strong><br/> {$fsc->agente->email}
					</div>
					{/if}
				</div>
                                <div class="col-xs-12">
					<br/>
					{if="$fsc->servicios_setup['servicios_mostrar_fechainicio']"}
					<div class="col-xs-6">
						<strong>{$fsc->st['st_fechainicio']}:</strong><br/>{$fsc->servicio->fechainicio}
					</div>
					{/if}
					{if="$fsc->servicios_setup['servicios_mostrar_fechafin']"}
					<div class="col-xs-6">
						<strong>{$fsc->st['st_fechafin']}:</strong><br/>{$fsc->servicio->fechafin}
					</div>
					{/if}
				</div>
				<div class="col-xs-12">
					<br/>
					<font size="1"><p align="justify">{$fsc->condiciones()}</p></font>
				</div>
			</div>
		</div>
	</div>
{/if}
</div>

{include="footer2"}
