{include="header"}

<script type="text/javascript" src="{$fsc->get_js_location('provincias.js')}"></script>
<script type="text/javascript">
   $(document).ready(function()
   {
      $("#b_nuevo_servicio").click(function() {
         $("#modal_cliente").modal('show');
         document.f_nueva_venta.ac_cliente.focus();
      });
      
      $("#ac_cliente").autocomplete({
         serviceUrl: '{$fsc->url()}',
         paramName: 'buscar_cliente',
         onSelect: function (suggestion) {
            if(suggestion)
            {
               if(document.f_nueva_venta.cliente.value != suggestion.data)
               {
                  document.f_nueva_venta.cliente.value = suggestion.data;
               }
            }
         }
      });
   });
</script>

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <a href="index.php?page=ventas_servicios" class="btn btn-xs btn-default">
                  <span class="glyphicon glyphicon-arrow-left"></span>
               </a>
               Contratos
               <small>{$fsc->total}</small>
               <a href="{$fsc->url()}" class="btn btn-xs btn-default" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
            </h1>
            <p class="help-block">
               Si a un contrato le asignas un periodo o una fecha para el siguiente servicio,
               se generarán los servicios automáticamente.
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <div class="btn-group">
            <a id="b_nuevo_servicio" class="btn btn-sm btn-success" href="#">
               <span class="glyphicon glyphicon-plus"></span>
               <span class="hidden-xs">&nbsp; Nuevo</span>
            </a>
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-sm-6 text-right">
         <div class="btn-group">
            <a href="{$fsc->url()}&mostrar=todo" class="btn btn-sm btn-default{if="$fsc->mostrar=='todo'"} active{/if}">
               Todos
            </a>
            <a href="{$fsc->url()}&mostrar=servicio" class="btn btn-sm btn-default{if="$fsc->mostrar=='servicio'"} active{/if}">
               Servicios pendientes
            </a>
            <a href="{$fsc->url()}&mostrar=renovacion" class="btn btn-sm btn-default{if="$fsc->mostrar=='renovacion'"} active{/if}">
               Renovaciones
            </a>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <br/>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>ID</th>
                     <th>Cliente</th>
                     <th>Observaciones</th>
                     <th class="text-right">Importe anual</th>
                     <th>Alta</th>
                     <th>Renovación</th>
                     <th class="text-right">Siguiente servicio</th>
                  </tr>
               </thead>
               {loop="$fsc->resultados"}
               <tr class="clickableRow" href="{$value->url()}">
                  <td><a href="{$value->url()}">{$value->idcontrato}</a></td>
                  <td>{$fsc->nombrecliente($value->codcliente)}</td>
                  <td>{$value->observaciones()}</td>
                  <td class="text-right">{$fsc->show_precio($value->importe_anual)}</td>
                  <td>{$value->fecha_alta}</td>
                  <td{if="$value->caducado()"} class="bg-danger"{/if}>{$value->fecha_renovacion}</td>
                  <td class="text-right {$fsc->aux_class_fservicio($value->fsiguiente_servicio)}">
                     {$value->fsiguiente_servicio}
                  </td>
               </tr>
               {else}
               <tr class="warning">
                  <td colspan="7">Sin resultados.</td>
               </tr>
               {/loop}
            </table>
         </div>
         <ul class="pager">
            {if="$fsc->anterior_url()!=''"}
            <li class="previous">
               <a href="{$fsc->anterior_url()}">
                  <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
               </a>
            </li>
            {/if}
            {if="$fsc->siguiente_url()!=''"}
            <li class="next">
               <a href="{$fsc->siguiente_url()}">
                  Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
               </a>
            </li>
            {/if}
         </ul>
      </div>
   </div>
</div>

<div class="modal" id="modal_cliente">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
               <span class="glyphicon glyphicon-search"></span>
               &nbsp; Selecciona el cliente
            </h4>
            <p class="help-block">
               Busca y selecciona el cliente o bien crea uno nuevo usando
               el recuadro en azul. Además, puedes cambiar las
               <a href="index.php?page=ventas_clientes_opciones">opciones para nuevos clientes</a>.
            </p>
         </div>
         <div class="modal-body">
            <form name="f_nueva_venta" action="{$fsc->url()}" method="post" class="form">
               <input type="hidden" name="cliente"/>
               <div class="form-group">
                  <div class="input-group">
                     <input class="form-control" type="text" name="ac_cliente" id="ac_cliente" placeholder="Buscar" autocomplete="off"/>
                     <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                           <span class="glyphicon glyphicon-share-alt"></span>
                        </button>
                     </span>
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-body bg-info">
            <form action="{$fsc->url()}" method="post" class="form-horizontal">
               <input type="hidden" name="cliente"/>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Nombre</label>
                  <div class="col-sm-10">
                     <input type="text" name="nuevo_cliente" class="form-control" autocomplete="off" placeholder="Nuevo cliente" required=""/>
                  </div>
               </div>
               <div class="form-group{if="$fsc->nuevocli_setup['nuevocli_cifnif_req']"} has-warning{/if}">
                  <label class="col-sm-2 control-label">{#FS_CIFNIF#}</label>
                  <div class="col-sm-10">
                     <input type="text" name="nuevo_cifnif" class="form-control" autocomplete="off"{if="$fsc->nuevocli_setup['nuevocli_cifnif_req']"} required=""{/if}/>
                  </div>
               </div>
               {if="$fsc->grupo->all()"}
               <div class="form-group">
                  <label class="col-sm-2 control-label">Grupo</label>
                  <div class="col-sm-10">
                     <select name="codgrupo" class="form-control">
                        <option value="">Ninguno</option>
                        <option value="">------</option>
                        {loop="$fsc->grupo->all()"}
                           {if="$value->codgrupo==$fsc->nuevocli_setup['nuevocli_codgrupo']"}
                           <option value="{$value->codgrupo}" selected="">{$value->nombre}</option>
                           {else}
                           <option value="{$value->codgrupo}">{$value->nombre}</option>
                           {/if}
                        {/loop}
                     </select>
                  </div>
               </div>
               {/if}
               {if="$fsc->nuevocli_setup['nuevocli_telefono1']"}
               <div class="form-group{if="$fsc->nuevocli_setup['nuevocli_telefono1_req']"} has-warning{/if}">
                  <label class="col-sm-2 control-label">Teléfono 1</label>
                  <div class="col-sm-10">
                     <input type="text" name="nuevo_telefono1" class="form-control" autocomplete="off"{if="$fsc->nuevocli_setup['nuevocli_telefono1_req']"} required=""{/if}/>
                  </div>
               </div>
               {/if}
               {if="$fsc->nuevocli_setup['nuevocli_telefono2']"}
               <div class="form-group{if="$fsc->nuevocli_setup['nuevocli_telefono2_req']"} has-warning{/if}">
                  <label class="col-sm-2 control-label">Teléfono 2</label>
                  <div class="col-sm-10">
                     <input type="text" name="nuevo_telefono2" class="form-control" autocomplete="off"{if="$fsc->nuevocli_setup['nuevocli_telefono2_req']"} required=""{/if}/>
                  </div>
               </div>
               {/if}
               {if="$fsc->nuevocli_setup['nuevocli_pais']"}
               <div class="form-group{if="$fsc->nuevocli_setup['nuevocli_pais_req']"} has-warning{/if}">
                  <label class="col-sm-2 control-label">
                     <a href="{$fsc->pais->url()}">País</a>
                  </label>
                  <div class="col-sm-10">
                     <select class="form-control" name="nuevo_pais">
                     {loop="$fsc->pais->all()"}
                        <option value="{$value->codpais}"{if="$value->is_default()"} selected=""{/if}>{$value->nombre}</option>
                     {/loop}
                     </select>
                  </div>
               </div>
               {/if}
               {if="$fsc->nuevocli_setup['nuevocli_provincia']"}
               <div class="form-group{if="$fsc->nuevocli_setup['nuevocli_provincia_req']"} has-warning{/if}">
                  <label class="col-sm-2 control-label text-capitalize">{#FS_PROVINCIA#}</label>
                  <div class="col-sm-10">
                     {if="$fsc->nuevocli_setup['nuevocli_provincia_req']"}
                     <input type="text" name="nuevo_provincia" id="ac_provincia" class="form-control" autocomplete="off" required=""/>
                     {else}
                     <input type="text" name="nuevo_provincia" value="{$fsc->empresa->provincia}" id="ac_provincia" class="form-control" autocomplete="off"/>
                     {/if}
                  </div>
               </div>
               {/if}
               {if="$fsc->nuevocli_setup['nuevocli_ciudad']"}
               <div class="form-group{if="$fsc->nuevocli_setup['nuevocli_ciudad_req']"} has-warning{/if}">
                  <label class="col-sm-2 control-label">Ciudad</label>
                  <div class="col-sm-10">
                     {if="$fsc->nuevocli_setup['nuevocli_ciudad_req']"}
                     <input type="text" name="nuevo_ciudad" class="form-control" required=""/>
                     {else}
                     <input type="text" name="nuevo_ciudad" value="{$fsc->empresa->ciudad}" class="form-control"/>
                     {/if}
                  </div>
               </div>
               {/if}
               {if="$fsc->nuevocli_setup['nuevocli_codpostal']"}
               <div class="form-group{if="$fsc->nuevocli_setup['nuevocli_codpostal_req']"} has-warning{/if}">
                  <label class="col-sm-2 control-label">Código Postal</label>
                  <div class="col-sm-10">
                     {if="$fsc->nuevocli_setup['nuevocli_codpostal_req']"}
                     <input type="text" name="nuevo_codpostal" class="form-control" required=""/>
                     {else}
                     <input type="text" name="nuevo_codpostal" value="{$fsc->empresa->codpostal}" class="form-control"/>
                     {/if}
                  </div>
               </div>
               {/if}
               {if="$fsc->nuevocli_setup['nuevocli_direccion']"}
               <div class="form-group{if="$fsc->nuevocli_setup['nuevocli_direccion_req']"} has-warning{/if}">
                  <label class="col-sm-2 control-label">Dirección</label>
                  <div class="col-sm-10">
                     {if="$fsc->nuevocli_setup['nuevocli_direccion_req']"}
                     <input type="text" name="nuevo_direccion" class="form-control" autocomplete="off" required=""/>
                     {else}
                     <input type="text" name="nuevo_direccion" value="C/ " class="form-control" autocomplete="off"/>
                     {/if}
                  </div>
               </div>
               {/if}
               <div class="text-right">
                  <button class="btn btn-sm btn-primary" type="submit">
                     <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar y seleccionar
                  </button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

{include="footer"}