{include="header"}

{if="$fsc->servicio"}
{if="$fsc->servicio->editable()"}
<script type="text/javascript" src="{$fsc->get_js_location('provincias.js')}"></script>
<script type="text/javascript" src="{$fsc->get_js_location('nueva_venta.js')}"></script>
<script type="text/javascript" src="plugins/servicios/view/js/collapse.js"></script>
<script type="text/javascript" src="plugins/servicios/view/js/transition.js"></script>
<script type="text/javascript" src="plugins/servicios/view/js/Moment.js"></script>
<script type="text/javascript" src="plugins/servicios/view/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="plugins/servicios/view/js/bootstrap-datetimepicker.es.js"></script>
<link rel="stylesheet" href="plugins/servicios/view/css/bootstrap-datetimepicker.css" />
<script type="text/javascript">
   numlineas = {function="count($fsc->servicio->get_lineas())"};
   fs_nf0 = {#FS_NF0#};
   all_impuestos = {function="json_encode($fsc->impuesto->all())"};
   cliente = {function="json_encode($fsc->cliente_s)"};
   nueva_venta_url = '{$fsc->nuevo_servicio_url}';
   kiwimaru_url = '{#FS_COMMUNITY_URL#}/index.php?page=kiwimaru';
   function check(id) {
      if($("#"+id).is(":checked"))
      {
         $("#checked_"+id).prop("disabled",false);
      }
      else
      {
         $("#checked_"+id).prop("disabled",true);
      }
   };
   $(document).ready(function () {
      $('#numlineas').val(numlineas);
      usar_serie();
      recalcular();
      $('#ac_cliente').autocomplete({
         serviceUrl: nueva_venta_url,
         paramName: 'buscar_cliente',
         onSelect: function (suggestion) {
            if (suggestion)
            {
               if (document.f_servicio.cliente.value != suggestion.data && suggestion.data != '')
               {
                  document.f_servicio.cliente.value = suggestion.data;
                  usar_cliente(suggestion.data);
               }
            }
         }
      });
   });
</script>
{/if}
<script type="text/javascript">
   function show_tab_grupos()
   {
      $('#tabs_servicio a:first').tab('show');
   }
   $(document).ready(function () {
      $('#b_imprimir').click(function (event) {
         event.preventDefault();
         $('#modal_imprimir_servicio').modal('show');
      });
      $('#b_enviar').click(function (event) {
         event.preventDefault();
         $('#modal_enviar').modal('show');
         document.enviar_email.email.select();
      });
      $('#b_eliminar').click(function (event) {
         event.preventDefault();
         $('#modal_eliminar').modal('show');
      });

      {if="$fsc->servicio->totalrecargo==0"}
      $('.recargo').hide();
      {/if}
      {if="$fsc->servicio->totalirpf==0"}
      $('.irpf').hide();
      {/if}
   });
</script>

<form name="f_servicio" action="{$fsc->servicio->url()}" method="post" class="form">
   <input type="hidden" name="idservicio" value="{$fsc->servicio->idservicio}"/>
   <input type="hidden" name="cliente" value="{$fsc->servicio->codcliente}"/>
   <input type="hidden" id="numlineas" name="numlineas" value="0"/>
   <div class="container-fluid">
      <div class="row" style="margin-top: 10px;">
         <div class="col-md-8 col-sm-8 col-xs-8">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            <div class="btn-group">
               <a id="b_imprimir" class="btn btn-sm btn-default" href="#">
                  <span class="glyphicon glyphicon-print"></span>
                  <span class="hidden-xs"> &nbsp; Imprimir</span>
               </a>
               {if="$fsc->empresa->can_send_mail()"}
               <a id="b_enviar" class="btn btn-sm btn-default" href="#">
                  <span class="glyphicon glyphicon-envelope"></span>
                  {if="$fsc->servicio->femail"}
                  <span class="hidden-xs"> &nbsp; Reenviar</span>
                  {else}
                  <span class="hidden-xs"> &nbsp; Enviar</span>
                  {/if}
               </a>
               {/if}
               {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}&id={$fsc->servicio->idservicio}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
                  {elseif="$value->type=='modal'"}
                  <!--{$txt=base64_encode($value->text)}-->
                  <!--{$url='index.php?page='.$value->from.'&id='.$fsc->servicio->idservicio.$value->params}-->
                  <a href="#" class="btn btn-sm btn-default" onclick="fs_modal('{$txt}','{$url}')">{$value->text}</a>
                  {/if}
               {/loop}
            </div>
            {if="$fsc->servicio->idalbaran"}
            <div class="btn-group">
               <a class="btn btn-sm btn-info text-capitalize" href="{$fsc->servicio->albaran_url()}">
                  <span class="glyphicon glyphicon-eye-open"></span>
                  <span class="hidden-xs"> &nbsp; Ver {#FS_SERVICIO#}</span>
               </a>
            </div>
            {/if}
         </div>
         <div class="col-md-4 col-sm-4 col-xs-4 text-right">
            <a class="btn btn-sm btn-success" href="index.php?page=nuevo_servicio">
               <span class="glyphicon glyphicon-plus"></span>
            </a>
            <div class="btn-group">
               {if="$fsc->allow_delete"}
               <a id="b_eliminar" class="btn btn-sm btn-danger" href="#">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-xs"> &nbsp; Eliminar</span>
               </a>
               {/if}
               <button class="btn btn-sm btn-primary" type="submit" onclick="show_tab_grupos()">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs"> &nbsp; Guardar</span>
               </button>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <br/>
            <ol class="breadcrumb" style="margin-bottom: 5px;">
               <li><a href="{$fsc->ppage->url()}">Ventas</a></li>
               <li><a href="{$fsc->ppage->url()}">{#FS_SERVICIOS#}</a></li>
               <li>
                  <a href="{$fsc->servicio->cliente_url()}">{$fsc->servicio->nombrecliente}</a>
               </li>
               {if="$fsc->cliente_s"}
                  {if="$fsc->cliente_s->nombre!=$fsc->servicio->nombrecliente"}
                  <li>
                     <a href="#" onclick="alert('Cliente conocido como: {$fsc->cliente_s->nombre}')">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                     </a>
                  </li>
                  {/if}
               {/if}
               <li class="active"><b>{$fsc->servicio->codigo}</b></li>
            </ol>
            <p class="help-block">
               {if="$fsc->agente"}
               <span class="text-capitalize">{#FS_SERVICIO#}</span> creado por
               <a href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>.
               {else}
               Sin datos de qué empleado ha creado este {#FS_SERVICIO#}.
               {/if}
            </p>
         </div>
      </div>
      <div class="row">
         {if="$fsc->servicio->editable()"}
         <div class="col-md-4 col-sm-12">
            <div class="form-group">
               Cliente actual:
               <div class="input-group">
                  <input class="form-control" type="text" name="ac_cliente" id="ac_cliente" value="{$fsc->servicio->nombrecliente}" placeholder="Buscar" autocomplete="off"/>
                  <span class="input-group-btn">
                     <button class="btn btn-default" type="button" onclick="document.f_servicio.ac_cliente.value = '';document.f_servicio.ac_cliente.focus();">
                        <span class="glyphicon glyphicon-edit"></span>
                     </button>
                  </span>
               </div>
            </div>
         </div>
         {/if}
         <div class="col-md-2 col-sm-3">
            <div class="form-group">
               <span class='text-capitalize'>EP:</span>
               <input class="form-control" type="text" name="numero2" value="{$fsc->servicio->numero2}"/>
            </div>
         </div>
         <div class="col-md-2 col-sm-3">
            <div class="form-group">
               <a href="index.php?page=opciones_servicios#estados" target="_blank">Estado</a>:
               <select name="estado" class="form-control">
                  {loop="$fsc->estado->all()"}
                  <option value="{$value->id}"{if="$value->id==$fsc->servicio->idestado"} selected="selected"{/if}>{$value->descripcion}</option>
                  {/loop}
               </select>
            </div>
         </div>
         <div class="col-md-2 col-sm-3">
            <div class="form-group">
               Fecha:
               {if="$fsc->servicio->editable()"}
               <input class="form-control datepicker" type="text" name="fecha" value="{$fsc->servicio->fecha}" autocomplete="off"/>
               {else}
               <div class="form-control">{$fsc->servicio->fecha}</div>
               {/if}
            </div>
         </div>
         <div class="col-md-2 col-sm-3">
            <div class="form-group">
               Hora:
               {if="$fsc->servicio->editable()"}
               <input class="form-control" type="text" name="hora" value="{$fsc->servicio->hora}" autocomplete="off"/>
               {else}
               <div class="form-control">{$fsc->servicio->hora}</div>
               {/if}
            </div>
         </div>
      </div>
   </div>

   <div role="tabpanel">
      <ul id="tabs_servicio" class="nav nav-tabs" role="tablist">
         <li role="presentation" class="active">
            <a href="#servicio" aria-controls="servicio" role="tab" data-toggle="tab">
               <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
               <span class="hidden-xs">&nbsp; {$fsc->st['st_servicios']}</span>
            </a>
         </li>
         <li role="presentation">
            <a href="#lineas_p" aria-controls="lineas_p" role="tab" data-toggle="tab">
               <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
               <span class="hidden-xs">&nbsp; Líneas</span>
            </a>
         </li>
         {if="$fsc->servicio->editable()"}
         <li role="presentation">
            <a href="#direccion_p" aria-controls="direccion_p" role="tab" data-toggle="tab">
               <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
               <span class="hidden-xs">&nbsp; Dirección</span>
            </a>
         </li>
         <li>
            <a href="#detalles" aria-controls="detalles" role="tab" data-toggle="tab">
               <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
               <span class="hidden-xs">&nbsp; Detalles</span>
               <span class="hidden-sm badge">{$fsc->servicio->num_detalles()}</span>
            </a>
        </li>
         <li role="presentation">
            <a href="#opciones" aria-controls="opciones" role="tab" data-toggle="tab">
               <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
               <span class="hidden-xs">&nbsp; Opciones</span>
            </a>
         </li>
         {/if}
         {loop="$fsc->extensions"}
            {if="$value->type=='tab'"}
            <li role="presentation">
               <a href="#ext_{$value->name}" aria-controls="ext_{$value->name}" role="tab" data-toggle="tab">{$value->text}</a>
            </li>
            {/if}
         {/loop}
      </ul>
      <div class="tab-content">
         <div role="tabpanel" class="tab-pane active" id="servicio">
            <div class="container-fluid" style="margin-top: 10px;">
               <div class="row">
                  {if="$fsc->servicios_setup['servicios_mostrar_material']"}
                  <div class="col-sm-4">
                     <div class="form-group {if="$fsc->servicios_setup['servicios_material']"}has-error{/if}">
                        {$fsc->st['st_material']}
                        <textarea class="form-control" name="material" rows="1" {if="$fsc->servicios_setup['servicios_material']"} required{/if}{if="!$fsc->servicio->editable()"} readonly{/if}>{$fsc->servicio->material}</textarea>
                     </div>
                  </div>
                  {/if}
                  {if="$fsc->servicios_setup['servicios_mostrar_material_estado']"}
                  <div class="col-sm-4">
                     <div class="form-group {if="$fsc->servicios_setup['servicios_material_estado']"}has-error{/if}">
                        {$fsc->st['st_material_estado']}
                        <textarea class="form-control" name="material_estado" rows="1" {if="$fsc->servicios_setup['servicios_material_estado']"} required{/if}{if="!$fsc->servicio->editable()"} readonly{/if}>{$fsc->servicio->material_estado}</textarea>
                     </div>
                  </div>
                  {/if}
                  {if="$fsc->servicios_setup['servicios_mostrar_accesorios']"}
                  <div class="col-sm-4">
                     <div class="form-group {if="$fsc->servicios_setup['servicios_accesorios']"}has-error{/if}">
                        {$fsc->st['st_accesorios']}
                        <textarea class="form-control" name="accesorios" rows="1" {if="$fsc->servicios_setup['servicios_accesorios']"} required{/if}{if="!$fsc->servicio->editable()"} readonly{/if}>{$fsc->servicio->accesorios}</textarea>
                     </div>
                  </div>
                  {/if}
               </div>
               <div class="row">
                  {if="$fsc->servicios_setup['servicios_mostrar_descripcion']"}
                  <div class="col-sm-4">
                     <div class="form-group {if="$fsc->servicios_setup['servicios_descripcion']"}has-error{/if}">
                        {$fsc->st['st_descripcion']}
                        <textarea class="form-control" name="descripcion" rows="1" {if="$fsc->servicios_setup['servicios_descripcion']"} required{/if}{if="!$fsc->servicio->editable()"} readonly{/if}>{$fsc->servicio->descripcion}</textarea>
                     </div>
                  </div>
                  {/if}
                  {if="$fsc->servicios_setup['servicios_mostrar_solucion']"}
                  <div class="col-sm-4">
                     <div class="form-group {if="$fsc->servicios_setup['servicios_solucion']"}has-error{/if}">
                        {$fsc->st['st_solucion']}
                        <textarea class="form-control" name="solucion" rows="1" {if="$fsc->servicios_setup['servicios_solucion']"} required{/if}{if="!$fsc->servicio->editable()"} readonly{/if}>{$fsc->servicio->solucion}</textarea>
                     </div>
                  </div>
                  {/if}
                  <div class="col-sm-4">
                     <div class="form-group">
                        Retiro
                        <textarea class="form-control" name="usuarioep" rows="1" {if="!$fsc->servicio->editable()"} readonly{/if}>{$fsc->servicio->usuarioep}</textarea>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="form-group">
                        Cantidad
                        <textarea class="form-control" name="idmep" rows="1" {if="!$fsc->servicio->editable()"} readonly{/if}>{$fsc->servicio->idmep}</textarea>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="form-group">
                        Pozo
                        <textarea class="form-control" name="pozo" rows="1" {if="!$fsc->servicio->editable()"} readonly{/if}>{$fsc->servicio->pozo}</textarea>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="form-group">
                        Responsable
                        <textarea class="form-control" name="respep" rows="1" {if="!$fsc->servicio->editable()"} readonly{/if}>{$fsc->servicio->respep}</textarea>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="form-group">
                        Aviso / OT
                        <textarea class="form-control" name="yacep" rows="1" {if="!$fsc->servicio->editable()"} readonly{/if}>{$fsc->servicio->yacep}</textarea>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="form-group">
                        Certificado
                        <textarea class="form-control" name="numcertificado" rows="1" {if="!$fsc->servicio->editable()"} readonly{/if}>{$fsc->servicio->numcertificado}</textarea>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="form-group">
                        N° Remito / Movimiento
                        <textarea class="form-control" name="numsalida" rows="1" {if="!$fsc->servicio->editable()"} readonly{/if}>{$fsc->servicio->numsalida}</textarea>
                     </div>
                  </div>
               </div>
               <div class="row bg-info">
               <script type="text/javascript">
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()

                    $('#fechainicio').datetimepicker({
                        language: 'es',
                        format: 'DD-MM-YYYY HH:mm',
                        extraFormats: [ 'DD-MM-YYYY HH:mm', 'DD-M-YYYY HH:mm' ],
                        startDate: new Date(),
                        minDate: moment(),
                    });
                    $('#fechafin').datetimepicker({
                        language: 'es',
                        format: 'DD-MM-YYYY HH:mm',
                        startDate: new Date(),
                        minDate: moment(),
                    });
                    $('#fechainicio input').click(function(event){
                        $('#fechainicio ').data("DateTimePicker").show();
                    });
                    $('#fechafin input').click(function(event){
                        $('#fechafin ').data("DateTimePicker").show();
                    });
                });
                </script>
                  {if="$fsc->servicios_setup['servicios_mostrar_fechainicio']"}
                <div class='col-sm-3'>
                    <div class="form-group {if="$fsc->servicios_setup['servicios_fechainicio']"}has-error{/if}">
                        {$fsc->st['st_fechainicio']}
                        <div class='input-group date' id='fechainicio'>
                            <input type='text' id="fechainicio" data-toggle="tooltip" data-placement="bottom" title="Fecha: : dd-mm-aaaa hh:mm" name="fechainicio" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])-(0[1-9]|1[012])-[0-9]{4} ([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]" value="{$fsc->servicio->fechainicio}" class="form-control" {if="$fsc->servicios_setup['servicios_fechainicio']"} required{/if}/>
                            <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                {/if}
                  {if="$fsc->servicios_setup['servicios_mostrar_fechafin']"}
                  <div class='col-sm-3'>
                   <div class="form-group {if="$fsc->servicios_setup['servicios_fechafin']"}has-error{/if}">
                       {$fsc->st['st_fechafin']}
                        <div class='input-group date' id='fechafin' {if="$fsc->servicios_setup['servicios_fechafin']"}has-error{/if}>
                            <input type="text" data-toggle="tooltip" data-placement="bottom" title="Fecha: : dd-mm-aaaa hh:mm" name="fechafin" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])-(0[1-9]|1[012])-[0-9]{4} ([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]" value="{$fsc->servicio->fechafin}" class="form-control" {if="$fsc->servicios_setup['servicios_fechafin']"} required{/if}/>
                            <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                  {/if}
                  {if="$fsc->servicios_setup['servicios_mostrar_garantia']"}
                  <div class="col-sm-1">
                     <div class="checkbox">
                        <label>
                           <input type="checkbox" name="garantia" value="TRUE"{if="$fsc->servicio->garantia"} checked="checked"{/if}{if="!$fsc->servicio->editable()"} disabled{/if}/>
                           Es garantía
                        </label>
                     </div>
                  </div>
                  {/if}
                  <div class="col-sm-2">
                     <div class="form-group">
                         Prioridad:
                        <select name="prioridad" class="form-control"{if="!$fsc->servicio->editable()"} disabled{/if}>
                           {loop="$fsc->servicio->listar_prioridad()"}
                           <option value="{$value['id_prioridad']}"{if="$value['id_prioridad'] == $fsc->servicio->prioridad"} selected="selected"{/if}>{$value['nombre_prioridad']}</option>
                           {/loop}
                        </select>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div role="tabpanel" class="tab-pane" id="lineas_p">
            <div class="table-responsive">
               {if="$fsc->servicio->editable()"}
               <table class="table table-condensed">
                  <thead>
                     <tr>
                        <th class="text-left" width="180">Referencia</th>
                        <th class="text-left">Descripción</th>
                        <th class="text-right" width="90">Cantidad</th>
                        <th width="60"></th>
                        <th class="text-right" width="110">Precio</th>
                        <th class="text-right" width="90">Dto. %</th>
                        <th class="text-right" width="130">Neto</th>
                        <th class="text-right" width="115">{#FS_IVA#}</th>
                        <th class="text-right recargo">RE %</th>
                        <th class="text-right irpf">{#FS_IRPF#} %</th>
                        <th class="text-right" width="140">Total</th>
                     </tr>
                  </thead>
                  <tbody id="lineas_albaran">
                     {loop="$fsc->servicio->get_lineas()"}
                     <tr id="linea_{$counter}">
                        <td>
                           <input type="hidden" name="idlinea_{$counter}" value="{$value->idlinea}"/>
                           <input type="hidden" name="referencia_{$counter}" value="{$value->referencia}"/>
                           <div class="form-control">
                              <a target="_blank" href="{$value->articulo_url()}">{$value->referencia}</a>
                           </div>
                        </td>
                        <td><textarea class="form-control" name="desc_{$counter}" rows="1" onclick="this.select()">{$value->descripcion}</textarea></td>
                        <td>
                           <input type="number" step="any" id="cantidad_{$counter}" class="form-control text-right" name="cantidad_{$counter}"
                                  value="{$value->cantidad}" onchange="recalcular()" onkeyup="recalcular()" autocomplete="off" value="1"/>
                        </td>
                        <td>
                           <button class="btn btn-sm btn-danger" type="button" onclick="$('#linea_{$counter}').remove();recalcular();">
                              <span class="glyphicon glyphicon-trash"></span>
                           </button>
                        </td>
                        <td>
                           <input type="text" class="form-control text-right" id="pvp_{$counter}" name="pvp_{$counter}" value="{$value->pvpunitario}"
                                  onkeyup="recalcular()" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td>
                           <input type="text" id="dto_{$counter}" name="dto_{$counter}" value="{$value->dtopor}" class="form-control text-right"
                                  onkeyup="recalcular()" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td>
                           <input type="text" class="form-control text-right" id="neto_{$counter}" name="neto_{$counter}"
                                  onchange="ajustar_neto()" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td>
                           <select class="form-control" id="iva_{$counter}" name="iva_{$counter}" onchange="ajustar_iva('{$counter}')">
                           {loop="$fsc->impuesto->all()"}
                              {if="$value1->codimpuesto==$value2->codimpuesto"}
                              <option value="{$value2->iva}" selected="">{$value2->descripcion}</option>
                              {else}
                              <option value="{$value2->iva}">{$value2->descripcion}</option>
                              {/if}
                           {/loop}
                           </select>
                        </td>
                        <td class="recargo">
                           <input type="text" class="form-control text-right" id="recargo_{$counter}" name="recargo_{$counter}" value="{$value->recargo}"
                                  onchange="recalcular()" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td class="irpf">
                           <input type="text" class="form-control text-right" id="irpf_{$counter}" name="irpf_{$counter}" value="{$value->irpf}"
                                  onchange="recalcular()" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td>
                           <input type="text" class="form-control text-right" id="total_{$counter}" name="total_{$counter}"
                                  onchange="ajustar_total()" onclick="this.select()" autocomplete="off"/>
                        </td>
                     </tr>
                     {/loop}
                  </tbody>
                  <tbody>
                     <tr class="bg-info">
                        <td><input id="i_new_line" class="form-control" type="text" placeholder="Buscar para añadir..." autocomplete="off"/></td>
                        <td>
                           <a href="#" class="btn btn-sm btn-default" title="Añadir sin buscar" onclick="return add_linea_libre()">
                              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                           </a>
                        </td>
                        <td colspan="4" class="text-right">Totales:</td>
                        <td><div id="aneto" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div></td>
                        <td><div id="aiva" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div></td>
                        <td class="recargo"><div id="are" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div></td>
                        <td class="irpf"><div id="airpf" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div></td>
                        <td>
                           <input type="text" name="atotal" id="atotal" class="form-control text-right" style="font-weight: bold;"
                                  value="0" onchange="recalcular()" autocomplete="off"/>
                        </td>
                     </tr>
                     <tr>
                        <td colspan="6"></td>
                        <td class="text-right">{$fsc->show_precio($fsc->servicio->neto)}</td>
                        <td class="text-right">{$fsc->show_precio($fsc->servicio->totaliva)}</td>
                        <td class="recargo text-right">{$fsc->show_precio($fsc->servicio->totalrecargo)}</td>
                        <td class="irpf text-right">{$fsc->show_precio($fsc->servicio->totalirpf)}</td>
                        <td class="text-right">{$fsc->show_precio($fsc->servicio->total)}</td>
                     </tr>
                  </tbody>
               </table>
               {else}
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-left">Artículo</th>
                        <th class="text-right">Cantidad</th>
                        <th class="text-right">Precio</th>
                        <th class="text-right">Dto</th>
                        <th class="text-right">Neto</th>
                        <th class="text-right">{#FS_IVA#}</th>
                        <th class="text-right recargo">RE</th>
                        <th class="text-right irpf">{#FS_IRPF#}</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->servicio->get_lineas()"}
                  <tr>
                     <td>
                        <a target="_blank" href="{$value->articulo_url()}">{$value->referencia}</a> {$value->descripcion}
                     </td>
                     <td class="text-right">{$value->cantidad}</td>
                     <td class="text-right">{$fsc->show_precio($value->pvpunitario, $fsc->servicio->coddivisa)}</td>
                     <td class="text-right">{$fsc->show_numero($value->dtopor, 2)} %</td>
                     <td class="text-right">{$fsc->show_precio($value->pvptotal, $fsc->servicio->coddivisa)}</td>
                     <td class="text-right">{$fsc->show_numero($value->iva, 2)} %</td>
                     <td class="text-right recargo">{$fsc->show_numero($value->recargo, 2)} %</td>
                     <td class="text-right irpf">{$fsc->show_numero($value->irpf, 2)} %</td>
                     <td class="text-right">{$fsc->show_precio($value->total_iva(), $fsc->servicio->coddivisa)}</td>
                  </tr>
                  {/loop}
                  <tr>
                     <td colspan="4"></td>
                     <td class="text-right"><b>{$fsc->show_precio($fsc->servicio->neto, $fsc->servicio->coddivisa)}</b></td>
                     <td class="text-right"><b>{$fsc->show_precio($fsc->servicio->totaliva, $fsc->servicio->coddivisa)}</b></td>
                     <td class="text-right recargo"><b>{$fsc->show_precio($fsc->servicio->totalrecargo, $fsc->servicio->coddivisa)}</b></td>
                     <td class="text-right irpf"><b>-{$fsc->show_precio($fsc->servicio->totalirpf, $fsc->servicio->coddivisa)}</b></td>
                     <td class="text-right"><b>{$fsc->show_precio($fsc->servicio->total, $fsc->servicio->coddivisa)}</b></td>
                  </tr>
               </table>
               {/if}
            </div>
         </div>
         {if="$fsc->servicio->editable()"}
         <div role="tabpanel" class="tab-pane" id="direccion_p">
            <div class="container-fluid" style="margin-top: 10px;">
               <div class="row">
                  <div class="col-sm-3">
                     <div class="form-group">
                        <a href="{$fsc->pais->url()}">País</a>:
                        <select class="form-control" name="codpais">
                           {loop="$fsc->pais->all()"}
                           <option value="{$value->codpais}"{if="$value->codpais==$fsc->servicio->codpais"} selected="selected"{/if}>{$value->nombre}</option>
                           {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <span class="text-capitalize">{#FS_PROVINCIA#}</span>:
                        <input id="ac_provincia" class="form-control" type="text" name="provincia" autocomplete="off" value="{$fsc->servicio->provincia}"/>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        Ciudad:
                        <input class="form-control" type="text" name="ciudad" autocomplete="off" value="{$fsc->servicio->ciudad}"/>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        Código Postal:
                        <input class="form-control" type="text" name="codpostal" autocomplete="off" value="{$fsc->servicio->codpostal}"/>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        Dirección:
                        <input class="form-control" type="text" name="direccion" value="{$fsc->servicio->direccion}" autocomplete="off"/>
                     </div>
                  </div>
               </div>
            </div>
         </div>
          <div role="tabpanel" class="tab-pane" id="detalles">
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-left">Usuario</th>
                        <th class="text-left">Detalle</th>
                        <th class="text-right">Fecha | Hora &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th></th>
                     </tr>
                  </thead>
                  {loop="fsc->listar_servicio_detalle()"}
                  <tr>
                     <td>{$value->nick}</td>
                     <td>{$value->descripcion}</td>
                     <td class="text-right">{$value->fecha} | {$value->show_hora_detalle()}</td>
                     <td>
                        {if="$fsc->allow_delete"}
                        <a href="{$fsc->servicio->url()}&delete_detalle={$value->id}#detalles"onClick="return confirm('¿Seguro que quieres eliminar este detalle?')">
                           <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                        {/if}
                     </td>
                  </tr>
                  {/loop}
                  <tr>
                     <td colspan="4">
                        <a href='#' class="btn btn-info btn-block btn-sm" data-toggle="modal" data-target="#modal_nuevo_detalle">
                           <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                           &nbsp; Nuevo detalle
                        </a>
                     </td>
                  </tr>
               </table>
            </div>
          </div>
         <div role="tabpanel" class="tab-pane" id="opciones">
            <div class="container-fluid" style="margin-top: 10px;">
               <div class="row">
                  <div class="col-sm-2">
                     <div class="form-group">
                        <a href="{$fsc->serie->url()}">Tipo de documento</a>:
                        <select class="form-control" name="serie" id="codserie" onchange="usar_serie();recalcular();">
                        {loop="$fsc->serie->all()"}
                           {if="$value->codserie==$fsc->servicio->codserie"}
                           <option value="{$value->codserie}" selected="selected">{$value->descripcion}</option>
                           {else}
                           <option value="{$value->codserie}">{$value->descripcion}</option>
                           {/if}
                        {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <a href="{$fsc->forma_pago->url()}">Forma de pago</a>:
                        <select name="codpago" class="form-control">
                            {loop="$fsc->forma_pago->all()"}
                                {if="!$fsc->servicio->codpago"}
                                <option value="{$value->codpago}"{if="$fsc->cliente_s->codpago == $value->codpago"} selected=""{/if}>{$value->descripcion}</option>
                                {elseif="$value->codpago==$fsc->servicio->codpago"}
                                <option value="{$value->codpago}" selected="selected">{$value->descripcion}</option>
                                {else}
                                <option value="{$value->codpago}">{$value->descripcion}</option>
                                {/if}
                            {/loop}
                         </select>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="form-group">
                        <a href="{$fsc->divisa->url()}">Divisa</a>:
                        <select name="divisa" class="form-control">
                        {loop="$fsc->divisa->all()"}
                           {if="$fsc->servicio->coddivisa==''"}
                           <option value="{$value->coddivisa}"{if="$value->is_default()"} selected=""{/if}>{$value->descripcion}</option>
                           {elseif="$value->coddivisa==$fsc->servicio->coddivisa"}
                           <option value="{$value->coddivisa}" selected="selected">{$value->descripcion}</option>
                           {else}
                           <option value="{$value->coddivisa}">{$value->descripcion}</option>
                           {/if}
                        {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        Tasa de conversión a $
                        <input type="text" name="tasaconv" class="form-control" placeholder="{$fsc->servicio->tasaconv}" autocomplete="off"/>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {/if}
         {loop="$fsc->extensions"}
            {if="$value->type=='tab'"}
            <div role="tabpanel" class="tab-pane" id="ext_{$value->name}">
               <iframe src="index.php?page={$value->from}{$value->params}&id={$fsc->servicio->idservicio}" width="100%" height="600" frameborder="0"></iframe>
            </div>
            {/if}
         {/loop}
      </div>
   </div>
   <hr>
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="form-group">
               Observaciones:
               <textarea class="form-control" name="observaciones" rows="3">{$fsc->servicio->observaciones}</textarea>
            </div>
         </div>
      </div>
   </div>
</form>

<div class="modal" id="modal_articulos">
   <div class="modal-dialog" style="width: 99%; max-width: 1000px;">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Buscar artículos</h4>
         </div>
         <div class="modal-body">
            <form id="f_buscar_articulos" name="f_buscar_articulos" action="{$fsc->url()}" method="post" class="form">
               <input type="hidden" name="codcliente" value="{$fsc->servicio->codcliente}"/>
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="input-group">
                           <input class="form-control" type="text" name="query" autocomplete="off"/>
                           <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit">
                                 <span class="glyphicon glyphicon-search"></span>
                              </button>
                           </span>
                        </div>
                        <label>
                           <input type="checkbox" name="con_stock" value="TRUE" onchange="buscar_articulos()"/>
                           sólo con stock
                        </label>
                     </div>
                     <div class="col-sm-4">
                        <select class="form-control" name="codfamilia" onchange="buscar_articulos()">
                           <option value="">Cualquier familia</option>
                           <option value="">------</option>
                           {loop="$fsc->familia->all()"}
                           <option value="{$value->codfamilia}">{$value->nivel}{$value->descripcion}</option>
                           {/loop}
                        </select>
                     </div>
                     <div class="col-sm-4">
                        <select class="form-control" name="codfabricante" onchange="buscar_articulos()">
                           <option value="">Cualquier fabricante</option>
                           <option value="">------</option>
                           {loop="$fsc->fabricante->all()"}
                           <option value="{$value->codfabricante}">{$value->nombre}</option>
                           {/loop}
                        </select>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <ul class="nav nav-tabs" id="nav_articulos" style="display: none;">
            <li id="li_mis_articulos">
               <a href="#" id="b_mis_articulos">Mi catálogo</a>
            </li>
            <li id="li_kiwimaru">
               <a href="#" id="b_kiwimaru">
                  <span class="glyphicon glyphicon-globe"></span>
               </a>
            </li>
            <li id="li_nuevo_articulo">
               <a href="#" id="b_nuevo_articulo">
                  <span class="glyphicon glyphicon-plus"></span> &nbsp; Nuevo
               </a>
            </li>
         </ul>
         <div id="search_results"></div>
         <div id="kiwimaru_results"></div>
         <div id="nuevo_articulo" class="modal-body" style="display: none;">
            <form name="f_nuevo_articulo" action="{$fsc->url()}" method="post" class="form">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-sm-3">
                        <div class="form-group">
                           Referencia:
                           <input class="form-control" type="text" name="referencia" maxlength="18" autocomplete="off"/>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                           Descripción:
                           <textarea name="descripcion" rows="1" class="form-control"></textarea>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="form-group">
                           <a href="{$fsc->familia->url()}">Familia</a>:
                           <select name="codfamilia" class="form-control">
                              <option value="">Ninguna</option>
                              <option value="">------</option>
                              {loop="$fsc->familia->all()"}
                              <option value="{$value->codfamilia}">{$value->nivel}{$value->descripcion}</option>
                              {/loop}
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="form-group">
                           <a href="{$fsc->fabricante->url()}">Fabricante</a>:
                           <select name="codfabricante" class="form-control">
                              <option value="">Ninguno</option>
                              <option value="">------</option>
                              {loop="$fsc->fabricante->all()"}
                              <option value="{$value->codfabricante}">{$value->nombre}</option>
                              {/loop}
                           </select>
                        </div>
                     </div>
                     <div class="col-sm-4">
                        <div class="form-group">
                           <a href="{$fsc->impuesto->url()}">{#FS_IVA#}</a>:
                           <select name="codimpuesto" class="form-control">
                              {loop="$fsc->impuesto->all()"}
                              <option value="{$value->codimpuesto}"{if="$value->is_default()"} selected="selected"{/if}>{$value->descripcion}</option>
                              {/loop}
                           </select>
                        </div>
                     </div>
                     <div class="col-sm-4">
                        <div class="form-group">
                           Precio de venta:
                           <input type="text" name="pvp" value="0" class="form-control" autocomplete="off"/>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12 text-right">
                        <button class="btn btn-sm btn-primary" type="submit" onclick="new_articulo();return false;">
                           <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar y seleccionar
                        </button>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modal_imprimir_servicio">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Imprimir {#FS_SERVICIO#}</h4>
         </div>
         <div class="modal-body">
         {loop="$fsc->extensions"}
            {if="$value->type=='pdf'"}
            <a href="index.php?page={$value->from}{$value->params}&id={$fsc->servicio->idservicio}" target="_blank" class="btn btn-block btn-default">
               <span class="glyphicon glyphicon-print"></span> &nbsp; {$value->text}
            </a>
            {/if}
         {/loop}
         </div>
         <div class="modal-footer">
            <a href="index.php?page=admin_empresa#impresion" target="_blank">Opciones de impresión</a>
         </div>
      </div>
   </div>
</div>

<form class="form" role="form" name="f_enviar_email" action="{$fsc->url()}" method="post" enctype="multipart/form-data">
   <input type="hidden" name="codcliente" value="{$fsc->servicio->codcliente}"/>
   <div class="modal" id="modal_enviar">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">
                  <span class="glyphicon glyphicon-envelope"></span>&nbsp;
                  Enviar {#FS_SERVICIO#}
               </h4>
               {if="$fsc->servicio->femail"}
               <p class="help-block">
                  <span class="glyphicon glyphicon-send"></span> &nbsp;
                  Este {#FS_SERVICIO#} fue enviado el {$fsc->servicio->femail}.
               </p>
               {else}
               {/if}
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon">De</span>
                     <select name="de" class="form-control">
                        {if="$fsc->user->email"}
                        <option>{$fsc->user->email}</option>
                        {/if}
                        <option>{$fsc->empresa->email}</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon">Para</span>
                     <input id="ac_email" class="form-control" type="text" name="email" value="{$fsc->cliente_s->email}" autocomplete="off"/>
                     <span class="input-group-addon" title="Asignar email al cliente">
                        <input type="checkbox" name="guardar" value="TRUE"/>
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                     </span>
                  </div>
               </div>
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon">Copia</span>
                     <input id="ac_email2" class="form-control" type="text" name="email_copia" autocomplete="off"/>
                     <span class="input-group-addon" title="Copia de carbón oculta">
                        <input type="checkbox" name="cco" value="TRUE"/>
                        <span class="glyphicon glyphicon-eye-close"></span>
                     </span>
                  </div>
               </div>
               <div class="form-group">
                  <textarea class="form-control" name="mensaje" rows="6">Buenos días, le adjunto su {#FS_SERVICIO#} {$fsc->servicio->codigo}.
{$fsc->empresa->email_config['mail_firma']}</textarea>
                  <p class="help-block">
                     <a href="index.php?page=admin_empresa#email">Editar la firma</a>
                  </p>
               </div>
               <div class="form-group">
                  <input name="adjunto" type="file"/>
                  <p class="help-block">
                     Se va a adjuntar el {#FS_SERVICIO#}, pero si lo deseas
                     puedes añadir otro archivo de hasta {$fsc->get_max_file_upload()} MB
                  </p>
               </div>
               {loop="$fsc->extensions"}
                  {if="$value->type=='email'"}
                  <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.action='index.php?page={$value->from}{$value->params}&id={$fsc->servicio->idservicio}';this.form.submit();">
                     <span class="glyphicon glyphicon-send"></span> &nbsp; {$value->text}
                  </button>
                  {/if}
               {/loop}
            </div>
         </div>
      </div>
   </div>
</form>

<form action="{$fsc->ppage->url()}" method="post">
   <input type="hidden" name="delete" value="{$fsc->servicio->idservicio}"/>
   <div class="modal fade" id="modal_eliminar">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">¿Realmente desea eliminar este {#FS_SERVICIO#}?</h4>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-danger" onclick="this.disabled = true;this.form.submit();">
                  <span class="glyphicon glyphicon-trash"></span> &nbsp; Eliminar
               </button>
            </div>
            {if="$fsc->servicio->idalbaran"}
            <div class="alert alert-info">
               Hay un {#FS_SERVICIO#} asociado que será eliminada junto con este {#FS_SERVICIO#}.
            </div>
            {/if}
         </div>
      </div>
   </div>
</form>

<div class="modal fade" id="modal_nuevo_detalle">
   <div class="modal-dialog">
      <div class="modal-content">
         <form name="f_nuevo_detalle" action="{$fsc->servicio->url()}#detalles" method="post" class="form">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Nuevo detalle</h4>
            </div>
            <div class="modal-body">
               <textarea class="form-control" name="detalle" rows="5" autofocus></textarea>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true; this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
               </button>
            </div>
         </form>
      </div>
   </div>
</div>
{else}
<div class="text-center">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}
