/*
 * This file is part of Sartin
 * Miguel San Martin - cosouth.battle@gmail.com
 */
ul.dropdown-menu li a:first-letter {
   text-transform: uppercase;
}

.well {
   margin: 5px;
}

.alert {
   margin: 5px;
}

.alert a {
   color: white;
   text-decoration: underline;
}

.modal-header .close {
   color: #222222;
}

.modal-footer {
   margin: 0px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #D9EDF7; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.clickableRow:hover {
   cursor: pointer;
}
.modal-dialog {z-index: 1050;}
