{include="header"}

<script type="text/javascript" src="{$fsc->get_js_location('provincias.js')}"></script>
<script type="text/javascript">
   function delete_almacen(url)
   {
      if( confirm("¿Realmente desea eliminar este almacén?") )
      {
         window.location.href = url;
      }
   }
   $(document).ready(function() {
      $("#b_nuevo_almacen").click(function(event) {
         event.preventDefault();
         $("#modal_nuevo_almacen").modal('show');
         document.f_nuevo_almacen.scodalmacen.focus();
      });
   });
</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <i class="fa fa-building" aria-hidden="true"></i>&nbsp; Almacenes
               <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
               <a id="b_nuevo_almacen" class="btn btn-xs btn-success" href="#">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="hidden-xs">&nbsp; Nuevo</span>
               </a>
            </h1>
            <p class="help-block">
               Esta es la lista de almacenes de la empresa. Puedes cambiar el
               almacén predeterminado desde la
               <a href="index.php?page=admin_empresa#facturacion">configuración de la empresa</a>.
            </p>
         </div>
      </div>
   </div>
   {loop="$fsc->almacenes"}
   <div class="row">
      <div class="col-sm-12">
         <form class="form" role="form" action="{$fsc->url()}" method="post">
            <input type="hidden" name="scodalmacen" value="{$value->codalmacen}"/>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">Código: {$value->codalmacen}</h3>
               </div>
               <div class="panel-body">
                  <div class="row">
                     <div class="col-sm-2">
                        <div class="form-group">
                           Nombre:
                           <input class="form-control" type="text" name="snombre" value="{$value->nombre}" autocomplete="off"/>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <div class="form-group">
                           <a href="{$fsc->pais->url()}">País</a>
                           <select name="scodpais" class="form-control">
                           {loop="$fsc->pais->all()"}
                              {if="$value1->codpais==$value2->codpais OR $value2->codpais==$fsc->empresa->codpais"}
                              <option value="{$value2->codpais}" selected="">{$value2->nombre}</option>
                              {else}
                              <option value="{$value2->codpais}">{$value2->nombre}</option>
                              {/if}
                           {/loop}
                           </select>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <div class="form-group">
                           <span class="text-capitalize">{#FS_PROVINCIA#}</span>:
                           <input class="form-control" type="text" name="sprovincia" value="{$value->provincia}" autocomplete="off"/>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <div class="form-group">
                           Ciudad:
                           <input class="form-control" type="text" name="spoblacion" value="{$value->poblacion}" autocomplete="off"/>
                        </div>
                     </div>
                     <div class="col-sm-4">
                        <div class="form-group">
                           Dirección:
                           <input class="form-control" type="text" name="sdireccion" value="{$value->direccion}" autocomplete="off"/>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-3">
                        <div class="form-group">
                           Código Postal:
                           <input class="form-control" type="text" name="scodpostal" value="{$value->codpostal}" autocomplete="off"/>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="form-group">
                           Teléfono:
                           <input class="form-control" type="text" name="stelefono" value="{$value->telefono}" autocomplete="off"/>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="form-group">
                           Fax:
                           <input class="form-control" type="text" name="sfax" value="{$value->fax}" autocomplete="off"/>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="form-group">
                           Contacto:
                           <input class="form-control" type="text" name="scontacto" value="{$value->contacto}" autocomplete="off"/>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="panel-footer text-right">
                  {if="$fsc->allow_delete"}
                     {if="$value->codalmacen==$fsc->empresa->codalmacen"}
                     <a class="btn btn-sm btn-warning pull-left" onclick="alert('No puedes eliminar el almacén predeterminado de la empresa.')">
                        <span class="glyphicon glyphicon-lock"></span>&nbsp; Eliminar
                     </a>
                     {else}
                     <a class="btn btn-sm btn-danger pull-left" onclick="delete_almacen('{$fsc->url()}&delete={$value->codalmacen}')">
                        <span class="glyphicon glyphicon-trash"></span>&nbsp; Eliminar
                     </a>
                     {/if}
                  {/if}
                  <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
                  </button>
               </div>
            </div>
         </form>
      </div>
   </div>
   {else}
   <div class="row">
      <div class="col-sm-12">
         <div class="alert alert-danger">Ningún almacén encontrado.</div>
      </div>
   </div>
   {/loop}
   <div class="row">
      <div class="col-sm-12">
         <form class="form" role="form" action="{$fsc->url()}" method="post">
            <div class="panel panel-info">
               <div class="panel-heading">
                  <h3 class="panel-title">
                     <span class="glyphicon glyphicon-cog"></span>
                     &nbsp; Configuración avanzada
                  </h3>
               </div>
               <div class="panel-body">
                  <div class="row">
                        <div class="col-sm-3">
                           <div class="form-group">
                              Permitir stock negativo:
                              <select name="stock_negativo" class="form-control">
                                 <option value="1"{if="$GLOBALS['config2']['stock_negativo']==1"} selected=''{/if}>Si</option>
                                 <option value="0"{if="$GLOBALS['config2']['stock_negativo']==0"} selected=''{/if}>No</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="form-group">
                              Permitir ventas sin stock:
                              <select name="ventas_sin_stock" class="form-control">
                                 <option value="1"{if="$GLOBALS['config2']['ventas_sin_stock']==1"} selected=''{/if}>Si</option>
                                 <option value="0"{if="$GLOBALS['config2']['ventas_sin_stock']==0"} selected=''{/if}>No</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="form-group">
                              Precio de coste:
                              <select name="cost_is_average" class="form-control">
                                 <option value="1"{if="$GLOBALS['config2']['cost_is_average']==1"} selected=''{/if}>Calculado</option>
                                 <option value="0"{if="$GLOBALS['config2']['cost_is_average']==0"} selected=''{/if}>Editable</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="form-group">
                              Al comprar, añadir con:
                              <select name="precio_compra" class="form-control">
                                 <option value="coste"{if="$GLOBALS['config2']['precio_compra']=='coste'"} selected=''{/if}>Precio de coste</option>
                                 <option value="pvp"{if="$GLOBALS['config2']['precio_compra']=='pvp'"} selected=''{/if}>PVP</option>
                              </select>
                           </div>
                        </div>
                  </div>
               </div>
               <div class="panel-footer text-right">
                  <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
                  </button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

<div class="modal" id="modal_nuevo_almacen">
   <div class="modal-dialog">
      <div class="modal-content">
         <form name="f_nuevo_almacen" action="{$fsc->url()}" method="post" class="form-horizontal" role="form">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">
                  <i class="fa fa-building" aria-hidden="true"></i>&nbsp; Nuevo almacén
               </h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <label class="col-sm-2 control-label">Código:</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="scodalmacen" maxlength="4" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Nombre:</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="snombre" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">
                     <a href="{$fsc->pais->url()}">País</a>:
                  </label>
                  <div class="col-sm-10">
                     <select name="scodpais" class="form-control col-sm-10">
                        {loop="$fsc->pais->all()"}
                        <option value="{$value->codpais}"{if="$value->is_default()"} selected=""{/if}>{$value->nombre}</option>
                        {/loop}
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label text-capitalize">{#FS_PROVINCIA#}:</label>
                  <div class="col-sm-10">
                     <input id="ac_provincia" class="form-control" type="text" name="sprovincia" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Ciudad:</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="spoblacion" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Dirección:</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="sdireccion" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Código Postal:</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="scodpostal" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Teléfono:</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="stelefono" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Fax:</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="sfax" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Contacto:</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="scontacto" autocomplete="off"/>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
              </button>
            </div>
         </form>
      </div>
   </div>
</div>

{include="footer"}