{include="header"}

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         {if="$fsc->factura"}
         <a href="{$fsc->factura->url()}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> &nbsp; Volver
         </a>
         {elseif="$fsc->albaran"}
         <a href="{$fsc->albaran->url()}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> &nbsp; Volver
         </a>
         {/if}
      </div>
   </div>
</div>

{include="footer"}
