{include="header"}

<script type="text/javascript">
   function delete_impuesto(cod)
   {
      if( confirm("¿Realmente desea eliminar el impuesto "+cod+"?") )
      {
         window.location.href = '{$fsc->url()}&delete='+cod;
      }
   }
</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               Impuestos
               <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
               <div class="btn-group">
               {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}{$value->params}" class="btn btn-xs btn-default">{$value->text}</a>
                  {/if}
               {/loop}
               </div>
            </h1>
            <p class="help-block">
               ¿Quieres ver <b>los artículos</b> que tienes con cada impuesto?
               Lo tienes muy fácil desde el informe de artículos,
               <a href="index.php?page=informe_articulos&tab=impuestos">
                  pestaña impuestos
               </a>.
            </p>
         </div>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th class="text-left" width="150">Código</th>
                     <th class="text-left">Descripción</th>
                     <th class="text-right" width="120">% {#FS_IVA#}</th>
                     <th class="text-right" width="120" style="display:none">% Recargo</th>
                     <th class="text-left" style="display:none">Subcuenta compras {$fsc->empresa->codejercicio}</th>
                     <th class="text-left" style="display:none">Subcuenta ventas {$fsc->empresa->codejercicio}</th>
                     <th class="text-right" width="180">Acciones</th>
                  </tr>
               </thead>
               {loop="$fsc->impuesto->all()"}
               <form class="form" role="form" action ="{$fsc->url()}" method="post">
                  <input type="hidden" name="codimpuesto" value="{$value->codimpuesto}"/>
                  <tr>
                     <td><div class="form-control">{$value->codimpuesto}</div></td>
                     <td>
                        <input class="form-control" type="text" name="descripcion" value="{$value->descripcion}" autocomplete="off"/>
                     </td>
                     <td>
                        <input class="form-control text-right" type="number" step="any" name="iva" value="{$value->iva}" autocomplete="off"/>
                     </td>
                     <td style="display:none">
                        <input class="form-control text-right" type="number" step="any" name="recargo" value="{$value->recargo}" autocomplete="off"/>
                     </td>
                     <td style="display:none">
                        <input class="form-control" type="text" name="codsubcuentasop" value="{$value->codsubcuentasop}" placeholder="{$fsc->codsubcuentasop}" autocomplete="off"/>
                     </td>
                     <td style="display:none">
                        <input class="form-control" type="text" name="codsubcuentarep" value="{$value->codsubcuentarep}" placeholder="{$fsc->codsubcuentarep}" autocomplete="off"/>
                     </td>
                     <td class="text-right">
                        <div class="btn-group">
                           {if="$value->is_default()"}
                           <a href="#" class="btn btn-sm btn-success" title="Impuesto predeterminado">
                              <span class="glyphicon glyphicon-flag"></span>
                           </a>
                           {else}
                           <a href="{$fsc->url()}&set_default={$value->codimpuesto}" class="btn btn-sm btn-default" title="Marcar como impuesto predeterminado">
                              <span class="glyphicon glyphicon-flag"></span>
                           </a>
                           {/if}
                        </div>
                        <div class="btn-group">
                           {if="$fsc->allow_delete"}
                           <button class="btn btn-sm btn-danger" type="button" title="Eliminar" onclick="delete_impuesto('{$value->codimpuesto}')">
                              <span class="glyphicon glyphicon-trash"></span>
                           </button>
                           {/if}
                           <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();" title="Guardar">
                              <span class="glyphicon glyphicon-floppy-disk"></span>
                           </button>
                        </div>
                     </td>
                  </tr>
               </form>
               {/loop}
               <form class="form" name="f_nuevo_impuesto" action="{$fsc->url()}" method="post">
                  <tr class="info">
                     <td><input class="form-control" type="text" name="codimpuesto" maxlength="10" placeholder="Nuevo código..." autocomplete="off"/></td>
                     <td><input class="form-control" type="text" name="descripcion" placeholder="Descripción" autocomplete="off"/></td>
                     <td><input class="form-control text-right" type="number" step="any" name="iva" value="0" autocomplete="off"/></td>
                     <td style="display:none"><input class="form-control text-right" type="number" step="any" name="recargo" value="0" autocomplete="off"/></td>
                     <td style="display:none"><input class="form-control" type="text" name="codsubcuentasop" placeholder="{$fsc->codsubcuentasop}" autocomplete="off"/></td>
                     <td style="display:none"><input class="form-control" type="text" name="codsubcuentarep" placeholder="{$fsc->codsubcuentarep}" autocomplete="off"/></td>
                     <td class="text-right">
                        <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();" title="Guardar">
                           <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                     </td>
                  </tr>
               </form>
            </table>
         </div>
      </div>
   </div>
</div>

{include="footer"}
