{include="header"}

<script type="text/javascript">
   var numlineas = {function="count($fsc->lineas)"};
   function add_partida()
   {
      numlineas++;
      $("#partidas").append("<tr id='partida_"+numlineas+"'>\n\
         <td>\n\
            <input class='form-control' id='codsubcuenta_"+numlineas+"' name='codsubcuenta_"+numlineas+"' type='text'\n\
               onclick=\"show_buscar_subcuentas('"+numlineas+"','subcuenta')\" onkeyup='document.f_buscar_subcuentas.query.value=$(this).val();buscar_subcuentas()'\n\
               autocomplete='off' placeholder='Seleccionar'/>\n\
         </td>\n\
         <td>\n\
            <input class='form-control' type='text' id='desc_"+numlineas+"' name='desc_"+numlineas+"' disabled='disabled'/>\n\
         </td>\n\
         <td>\n\
            <input class='form-control text-right' type='text' id='saldo_"+numlineas+"' name='saldo_"+numlineas+"' value='0' disabled='disabled'/>\n\
         </td>\n\
         <td>\n\
            <input class='form-control text-right' type='text' id='debe_"+numlineas+"' name='debe_"+numlineas+"' value='0'\n\
               onclick='this-select()' onkeyup='recalcular()' autocomplete='off'/>\n\
         </td>\n\
         <td>\n\
            <input class='form-control text-right' type='text' id='haber_"+numlineas+"' name='haber_"+numlineas+"' value='0'\n\
               onclick='this-select()' onkeyup='recalcular()' autocomplete='off'/>\n\
         </td>\n\
         <td>\n\
            <input class='form-control' id='codcontrapartida_"+numlineas+"' name='codcontrapartida_"+numlineas+"' type='text'\n\
               onclick=\"show_buscar_subcuentas('"+numlineas+"','contrapartida')\" onkeyup='document.f_buscar_subcuentas.query.value=$(this).val();buscar_subcuentas()'\n\
               autocomplete='off' placeholder='Seleccionar'/>\n\
         </td>\n\
         <td class='contrapartida'>\n\
            <input class='form-control text-right' type='text' id='saldoc_"+numlineas+"' name='saldoc_"+numlineas+"' value='0' disabled='disabled'/>\n\
         </td>\n\
         <td class='contrapartida'>\n\
            <select id='iva_"+numlineas+"' name='iva_"+numlineas+"' onchange='recalcular()' class='form-control'>\n\
               <option value='0'>---</option>\n\
               {loop="$fsc->impuesto->all()"}<option value='{$value->iva}'>{$value->descripcion}</option>{/loop}\n\
            </select>\n\
         </td>\n\
         <td class='contrapartida'>\n\
            <input class='form-control text-right' type='text' id='baseimp_"+numlineas+"' name='baseimp_"+numlineas+"' value='0' autocomplete='off'/>\n\
         </td>\n\
         <td class='contrapartida'>\n\
            <input class='form-control text-right' type='text' id='cifnif_"+numlineas+"' name='cifnif_"+numlineas+"'/>\n\
         </td>\n\
         <td class='text-right'>\n\
            <a class='btn btn-sm btn-danger' onclick=\"clean_partida('"+numlineas+"')\">\n\
               <span class='glyphicon glyphicon-trash'></span>\n\
            </a>\n\
         </td>\n\
      </tr>");
      document.f_asiento.numlineas.value = numlineas;
      recalcular();
   }
   function show_buscar_subcuentas(num, tipo)
   {
      $("#subcuentas").html('');
      document.f_buscar_subcuentas.fecha.value = document.f_asiento.fecha.value;
      document.f_buscar_subcuentas.tipo.value = tipo;
      document.f_buscar_subcuentas.numlinea.value = num;
      document.f_buscar_subcuentas.query.value = '';
      $("#modal_subcuentas").modal('show');
      document.f_buscar_subcuentas.query.focus();
   }
   function buscar_subcuentas()
   {
      if(document.f_buscar_subcuentas.query.value == '')
      {
         $("#subcuentas").html('');
      }
      else
      {
         var datos = 'query='+document.f_buscar_subcuentas.query.value;
         datos += "&fecha="+document.f_buscar_subcuentas.fecha.value;
         $.ajax({
            type: 'POST',
            url: '{$fsc->url()}',
            dataType: 'html',
            data: datos,
            success: function(datos) {
               var re = /<!--(.*?)-->/g;
               var m = re.exec( datos );
               if( m[1] == document.f_buscar_subcuentas.query.value )
               {
                  $("#subcuentas").html(datos);
               }
            }
         });
      }
   }
   function select_subcuenta(codsubcuenta, saldo, descripcion)
   {
      var num = document.f_buscar_subcuentas.numlinea.value;
      if(document.f_buscar_subcuentas.tipo.value == 'subcuenta')
      {
         $("#codsubcuenta_"+num).val(codsubcuenta);
         $("#desc_"+num).val( Base64.decode(descripcion) );
         $("#saldo_"+num).val(saldo);
      }
      else
      {
         $("#codcontrapartida_"+num).val(codsubcuenta);
         $("#saldoc_"+num).val(saldo);
      }
      $("#modal_subcuentas").modal('hide');
      recalcular();
   }
   function clean_partida(num)
   {
      $("#partida_"+num).remove();
      recalcular();
   }
   function recalcular()
   {
      var debe = 0;
      var haber = 0;
      var iva = 0;
      var t_debe = 0;
      var t_haber = 0;
      var show_contrapartidas = false;
      
      for(var i=1; i<=numlineas; i++)
      {
         if( $("#partida_"+i).length > 0 )
         {
            debe = parseFloat( $("#debe_"+i).val() );
            haber = parseFloat( $("#haber_"+i).val() );
            
            if( $("#codcontrapartida_"+i).val() != '' )
            {
               show_contrapartidas = true;
               
               iva = parseFloat( $("#iva_"+i).val() );
               if(iva == 0)
               {
                  $("#baseimp_"+i).val('0');
               }
               else
               {
                  if(haber == 0)
                     $("#baseimp_"+i).val( debe*100/iva );
                  else if(debe == 0)
                     $("#baseimp_"+i).val( haber*100/iva );
                  else
                     $("#baseimp_"+i).val(0);
               }
            }
            
            t_debe += debe;
            t_haber += haber;
         }
      }
      
      document.f_asiento.importe.value = Math.max(t_debe, t_haber);
      document.f_asiento.descuadre.value = fs_round(t_debe - t_haber, 2);
      
      if(show_contrapartidas)
      {
         $(".contrapartida").show();
      }
      else
      {
         $(".contrapartida").hide();
      }
   }
   function asigna_concepto()
   {
      document.f_asiento.concepto.value = $("#s_idconceptopar option:selected").text();
   }
   function guardar_asiento(redir)
   {
      $("#b_guardar_asiento").prop('disabled', true);
      $("#b_guardar_asiento_r").prop('disabled', true);
      
      var continuar = true;
      for(var i=1; i<=numlineas; i++)
      {
         if( $("#partida_"+i).length > 0 )
         {
            if( $("#codsubcuenta_"+i).val() == '' )
            {
               alert('No has seleccionado ninguna subcuenta en la línea '+i);
               continuar = false;
               break;
            }
         }
      }
      
      if( !continuar )
      {
         $("#b_guardar_asiento").prop('disabled', false);
         $("#b_guardar_asiento_r").prop('disabled', false);
      }
      else if(numlineas == 0)
      {
         alert('No has añadido ninguna línea.');
         $("#b_guardar_asiento").prop('disabled', false);
         $("#b_guardar_asiento_r").prop('disabled', false);
      }
      else if(document.f_asiento.descuadre.value == 0)
      {
         if(redir)
         {
            document.f_asiento.redir.value = 'TRUE';
         }
         
         document.f_asiento.numlineas.value = numlineas;
         document.f_asiento.submit();
      }
      else
      {
         alert('¡Asiento descuadrado!');
         $("#b_guardar_asiento").prop('disabled', false);
         $("#b_guardar_asiento_r").prop('disabled', false);
      }
   }
   $(document).ready(function() {
      recalcular();
      document.f_asiento.concepto.focus();
      $("#f_buscar_subcuentas").submit(function(event) {
         event.preventDefault();
         buscar_subcuentas();
      });
   });
</script>

<form id="f_asiento" name="f_asiento" action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="petition_id" value="{$fsc->random_string()}"/>
   <input type="hidden" name="numlineas" value="0"/>
   <input type="hidden" name="redir"/>
   <div class="container-fluid">
      <div class="row">
         <div class="col-xs-6">
            <div class="btn-group">
               <a id="b_nuevo_almacen" class="btn btn-sm btn-default" href="index.php?page=contabilidad_asientos">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                  <span class="hidden-xs">&nbsp; Asientos</span>
               </a>
               <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
            </div>
            <div class="btn-group">
               {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
                  {/if}
               {/loop}
            </div>
         </div>
         <div class="col-xs-6 text-right">
            <h2 style="margin-top: 0px;">Nuevo Asiento</h2>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="form-group">
               Fecha:
               <input class="form-control datepicker" name="fecha" type="text" value="{$fsc->asiento->fecha}"/>
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="form-group">
               Predefinido:
               <select id="s_idconceptopar" name="idconceptopar" onchange="asigna_concepto()" class="form-control">
                 <option value="">---</option>
                 {loop="$fsc->concepto->all()"}
                 <option value="{$value->idconceptopar}">{$value->concepto}</option>
                 {/loop}
               </select>
            </div>
         </div>
         <div class="col-lg-3 col-md-2 col-sm-2">
            <div class="form-group">
               Concepto:
               <input class="form-control" name="concepto" type="text" value="{$fsc->asiento->concepto}" autocomplete="off"/>
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="form-group">
               Divisa:
               <select name='divisa' class='form-control'>
               {loop="$fsc->divisa->all()"}
                  <option value='{$value->coddivisa}'{if="$value->is_default()"} selected=""{/if}>{$value->descripcion}</option>
               {/loop}
               </select>
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="form-group">
               Importe:
               <input class="form-control" type="text" name="importe" value="0" readonly/>
            </div>
         </div>
         <div class="col-lg-1 col-md-2 col-sm-2">
            <div class="form-group">
               Descuadre:
               <input class="form-control" type="text" name="descuadre" value="0" readonly/>
            </div>
         </div>
      </div>
   </div>
   
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
         <a href="#lineas" aria-controls="lineas" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            <span class="hidden-xs">&nbsp; Líneas</span>
         </a>
      </li>
      <li role="presentation">
         <a href="#asistente" aria-controls="asistente" role="tab" data-toggle="tab">
            <i class="fa fa-magic"></i>
            <span class="hidden-xs">&nbsp; Asistente</span>
         </a>
      </li>
   </ul>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="lineas">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th class="text-left" width="135">Subcuenta</th>
                     <th class="text-left">Descripción</th>
                     <th class="text-right" width="110">Saldo</th>
                     <th class="text-right" width="110">Debe</th>
                     <th class="text-right" width="110">Haber</th>
                     <th class="text-left" width="135">Contrapartida</th>
                     <th class="text-right contrapartida" width="110">Saldo</th>
                     <th class="text-right contrapartida">{#FS_IVA#}</th>
                     <th class="text-right contrapartida" width="110">Base Imp.</th>
                     <th class="text-left contrapartida">{#FS_CIFNIF#}</th>
                     <th width="50"></th>
                  </tr>
               </thead>
               <tbody id="partidas">
                  {loop="$fsc->lineas"}
                  <tr id="partida_{$counter+1}">
                     <td>
                        <input class="form-control" id='codsubcuenta_{$counter+1}' name='codsubcuenta_{$counter+1}' type='text'
                            value="{$value->codsubcuenta}" onclick="show_buscar_subcuentas('{$counter+1}','subcuenta')"
                            onkeyup='document.f_buscar_subcuentas.query.value=$(this).val();buscar_subcuentas()'
                            autocomplete='off' placeholder='Seleccionar'/>
                     </td>
                     <td><input class='form-control' type='text' id='desc_{$counter+1}' name='desc_{$counter+1}' value='{$value->desc_subcuenta}' disabled='disabled'/></td>
                     <td>
                        <input class='form-control text-right' type='text' id='saldo_{$counter+1}' name='saldo_{$counter+1}'
                            value='{function="round($value->saldo, FS_NF0)"}' disabled='disabled'/>
                     </td>
                     <td>
                        <input class='form-control text-right' type='text' id='debe_{$counter+1}' name='debe_{$counter+1}' value='{$value->debe}'
                            onclick='this-select()' onkeyup='recalcular()' autocomplete='off'/>
                     </td>
                     <td>
                        <input class='form-control text-right' type='text' id='haber_{$counter+1}' name='haber_{$counter+1}' value='{$value->haber}'
                            onclick='this-select()' onkeyup='recalcular()' autocomplete='off'/>
                     </td>
                     <td>
                        <input class='form-control' id='codcontrapartida_{$counter+1}' name='codcontrapartida_{$counter+1}' type='text'
                            value='{$value->codcontrapartida}' onclick="show_buscar_subcuentas('{$counter+1}','contrapartida')"
                            onkeyup='document.f_buscar_subcuentas.query.value=$(this).val();buscar_subcuentas()'
                            autocomplete='off' placeholder='Seleccionar'/>
                     </td>
                     <td class="contrapartida">
                        <input class='form-control text-right' type='text' id='saldoc_{$counter+1}' name='saldoc_{$counter+1}' value='0' disabled='disabled'/>
                     </td>
                     <td class="contrapartida">
                        <select class='form-control' id='iva_{$counter+1}' name='iva_{$counter+1}' onchange='recalcular()'{if="!$value->codcontrapartida"} disabled='disabled'{/if}>
                           <option value='0'>---</option>
                           {loop="$fsc->impuesto->all()"}
                              {if="$value1->iva==$value2->iva"}
                              <option value='{$value->iva}' selected="">{$value->descripcion}</option>
                              {else}
                              <option value='{$value->iva}'>{$value->descripcion}</option>
                              {/if}
                           {/loop}
                        </select>
                     </td>
                     <td class="contrapartida">
                        <input class='form-control text-right' type='text' id='baseimp_{$counter+1}' name='baseimp_{$counter+1}'
                            value='{$value->baseimponible}' autocomplete='off'{if="!$value->codcontrapartida"} disabled='disabled'{/if}/>
                     </td>
                     <td class="contrapartida">
                        <input class='form-control' type='text' id='cifnif_{$counter+1}' name='cifnif_{$counter+1}' value='{$value->cifnif}'{if="!$value->codcontrapartida"} disabled='disabled'{/if}/>
                     </td>
                     <td class="text-right">
                        <button class="btn btn-sm btn-danger" type="button" onclick="clean_partida('{$counter+1}')">
                           <span class="glyphicon glyphicon-trash"></span>
                        </button>
                     </td>
                  </tr>
                  {/loop}
               </tbody>
            </table>
         </div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-xs-6">
                  <a href="#" class="btn btn-sm btn-success" onclick="add_partida();return false;">
                     <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                     <span class="hidden-xs">&nbsp; Añadir línea</span>
                  </a>
               </div>
               <div class="col-xs-6 text-right">
                  <div class="btn-group">
                     <button id="b_guardar_asiento" class="btn btn-sm btn-primary" type="button" onclick="guardar_asiento(false)" title="Guardar y volver a empezar">
                        <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                     </button>
                     <button id="b_guardar_asiento_r" class="btn btn-sm btn-info" type="button" onclick="guardar_asiento(true)" title="Guardar y ver asiento">
                        <span class="glyphicon glyphicon-eye-open"></span>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="asistente">
         <br/>
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-4">
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title">Cuota de autónomos</h3>
                     </div>
                     <div class="panel-body">
                        <div class="form-group">
                           Importe:
                           <input type="number" name="autonomo" value="0" step="any" class="form-control"/>
                        </div>
                        <button class="btn btn-sm btn-primary" type="button" onclick="this.form.submit()">
                           <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>

<form id="f_buscar_subcuentas" name="f_buscar_subcuentas" class="form">
   <input type="hidden" name="fecha"/>
   <input type="hidden" name="tipo"/>
   <input type="hidden" name="numlinea"/>
   <div class="modal" id="modal_subcuentas">
      <div class="modal-dialog" style="width: 99%; max-width: 1000px;">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Buscar subcuentas</h4>
            </div>
            <div class="modal-body">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-xs-8">
                        <div class="input-group">
                           <input class="form-control" type="text" name="query" onkeyup="buscar_subcuentas();" autocomplete="off" autofocus="" />
                           <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit">
                                 <span class="glyphicon glyphicon-search"></span>
                              </button>
                           </span>
                        </div>
                     </div>
                     <div class="col-xs-4">
                        <a href="#" class="btn btn-sm btn-block btn-danger" onclick="select_subcuenta('','','')">
                           <span class="glyphicon glyphicon-remove"></span>
                           <span class="hidden-xs">&nbsp; ninguna</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div id="subcuentas"></div>
         </div>
      </div>
   </div>
</form>

{include="footer"}