{include="header"}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
   google.load('visualization', '1.0', {'packages':['corechart']});
   
   google.setOnLoadCallback(drawChart);
   
   function drawChart()
   {
      {if="$fsc->mostrar=='operaciones'"}
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'día');
      data.addColumn('number', 'diario');
      data.addColumn('number', 'semanal');
      data.addRows([
      {loop="$fsc->stats_last_operations()"}
         ['{$key}', {$value['diario']}, {$value['semanal']}],
      {/loop}
      ]);
      
      var chart = new google.visualization.AreaChart(document.getElementById('chart_operaciones_compra'));
      chart.draw(data);
      
      var data2 = new google.visualization.DataTable();
      data2.addColumn('string', 'día');
      data2.addColumn('number', 'diario');
      data2.addColumn('number', 'semanal');
      data2.addRows([
      {loop="$fsc->stats_last_operations('albaranescli')"}
         ['{$key}', {$value['diario']}, {$value['semanal']}],
      {/loop}
      ]);
      
      var chart2 = new google.visualization.AreaChart(document.getElementById('chart_operaciones_venta'));
      chart2.draw(data2);
      {else}
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'día');
      data.addColumn('number', 'ventas {$fsc->simbolo_divisa()}');
      data.addColumn('number', 'compras {$fsc->simbolo_divisa()}');
      data.addRows([
      {loop="$fsc->stats_last_days()"}
         ['{$value['day']}', {$value['total_cli']}, {$value['total_pro']}],
      {/loop}
      ]);
      
      var chart = new google.visualization.ColumnChart(document.getElementById('chart_facturas_day'));
      chart.draw(data);
      
      var data2 = new google.visualization.DataTable();
      data2.addColumn('string', 'mes');
      data2.addColumn('number', 'ventas {$fsc->simbolo_divisa()}');
      data2.addColumn('number', 'compras {$fsc->simbolo_divisa()}');
      data2.addRows([
      {loop="$fsc->stats_last_months()"}
         ['{$value['month']}', {$value['total_cli']}, {$value['total_pro']}],
      {/loop}
      ]);
      
      var chart2 = new google.visualization.AreaChart(document.getElementById('chart_facturas_month'));
      chart2.draw(data2);
      
      var data3 = new google.visualization.DataTable();
      data3.addColumn('string', 'año');
      data3.addColumn('number', 'ventas {$fsc->simbolo_divisa()}');
      data3.addColumn('number', 'compras {$fsc->simbolo_divisa()}');
      data3.addRows([
      {loop="$fsc->stats_last_years()"}
         ['{$value['year']}', {$value['total_cli']}, {$value['total_pro']}],
      {/loop}
      ]);
      
      var chart3 = new google.visualization.AreaChart(document.getElementById('chart_facturas_year'));
      chart3.draw(data3);
      {/if}
   }
</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
               Informe de {#FS_ALBARANES#}
               <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
               <span class="btn-group">
               {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}{$value->params}" class="btn btn-xs btn-default">{$value->text}</a>
                  {/if}
               {/loop}
               </span>
            </h1>
         </div>
         <ul class="nav nav-tabs">
            <li role="presentation"{if="$fsc->mostrar=='general'"} class="active"{/if}>
               <a href="{$fsc->url()}">
                  <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                  <span class="hidden-xs">&nbsp; General</span>
               </a>
            </li>
            <li role="presentation"{if="$fsc->mostrar=='operaciones'"} class="active"{/if}>
               <a href="{$fsc->url()}&mostrar=operaciones">
                  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                  <span class="hidden-xs">&nbsp; Actividad</span>
               </a>
            </li>
         </ul>
         <br/>
      </div>
   </div>
   {if="$fsc->mostrar=='operaciones'"}
   <div class="row">
      <div class="col-sm-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Operaciones de compra</h3>
            </div>
            <div class="panel-body">
               <div id="chart_operaciones_compra" style="width: 95%; margin-left: auto; margin-right: auto; height: 300px;"></div>
            </div>
            <div class="panel-footer">
               <p class="help-block">
                  Nº de {#FS_ALBARANES#} de compra diarios y semanales. Útil para medir la actividad.
               </p>
            </div>
         </div>
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Operaciones de venta</h3>
            </div>
            <div class="panel-body">
               <div id="chart_operaciones_venta" style="width: 95%; margin-left: auto; margin-right: auto; height: 300px;"></div>
            </div>
            <div class="panel-footer">
               <p class="help-block">
                  Nº de {#FS_ALBARANES#} de venta diarios y semanales. Útil para medir la actividad.
               </p>
            </div>
         </div>
      </div>
   </div>
   {else}
   <div class="row">
      <div class="col-sm-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title"><span class="text-capitalize">{#FS_ALBARANES#}</span> de los últimos días</h3>
            </div>
            <div class="panel-body">
               <div id="chart_facturas_day" style="width: 95%; margin-left: auto; margin-right: auto;"></div>
            </div>
            <div class="panel-footer">
               <p class="help-block">
                  La media de ventas es de <b>{$fsc->show_precio($fsc->stats['media_ventas_dia'])}</b>/día,
                  la media de compras es de <b>{$fsc->show_precio($fsc->stats['media_compras_dia'])}</b>/día.
               </p>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-4">
         {if="$fsc->stats['alb_pendientes']>0"}
         <a href="index.php?page=ventas_remitos&mostrar=pendientes" class="btn btn-sm btn-block btn-info">
            {$fsc->stats['alb_pendientes']} {#FS_ALBARANES#} pendientes
            ({$fsc->show_precio($fsc->stats['alb_pendientes_total'])})
         </a>
         {else}
         <a href="index.php?page=ventas_remitos&mostrar=pendientes" class="btn btn-sm btn-block btn-default">
            0 {#FS_ALBARANES#} pendientes
         </a>
         {/if}
      </div>
      <div class="col-sm-4">
         {if="$fsc->stats['ped_pendientes']>0"}
         <a href="index.php?page=ventas_pedidos&mostrar=pendientes" class="btn btn-sm btn-block btn-info">
            {$fsc->stats['ped_pendientes']} {#FS_PEDIDOS#} pendientes
            ({$fsc->show_precio($fsc->stats['ped_pendientes_total'])})
         </a>
         {else}
         <a href="index.php?page=ventas_pedidos&mostrar=pendientes" class="btn btn-sm btn-block btn-default">
            0 {#FS_PEDIDOS#} pendientes
         </a>
         {/if}
      </div>
      <div class="col-sm-4">
         {if="$fsc->stats['pre_pendientes']>0"}
         <a href="index.php?page=ventas_presupuestos&mostrar=pendientes" class="btn btn-sm btn-block btn-info">
            {$fsc->stats['pre_pendientes']} {#FS_PRESUPUESTOS#} pendientes
            ({$fsc->show_precio($fsc->stats['pre_pendientes_total'])})
         </a>
         {else}
         <a href="index.php?page=ventas_presupuestos&mostrar=pendientes" class="btn btn-sm btn-block btn-default">
            0 {#FS_PRESUPUESTOS#} pendientes
         </a>
         {/if}
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <br/>
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title"><span class="text-capitalize">{#FS_ALBARANES#}</span> de los últimos meses</h3>
            </div>
            <div class="panel-body">
               <div id="chart_facturas_month" style="width: 95%; margin-left: auto; margin-right: auto; height: 300px;"></div>
            </div>
            <div class="panel-footer">
               <p class="help-block">
                  La media de ventas es de <b>{$fsc->show_precio($fsc->stats['media_ventas_mes'])}</b>/mes,
                  la media de compras es de <b>{$fsc->show_precio($fsc->stats['media_compras_mes'])}</b>/mes.
               </p>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title"><span class="text-capitalize">{#FS_ALBARANES#}</span> de los últimos años</h3>
            </div>
            <div class="panel-body">
               <div id="chart_facturas_year" style="width: 95%; margin-left: auto; margin-right: auto; height: 300px;"></div>
            </div>
         </div>
      </div>
   </div>
   {/if}
</div>

{include="footer"}