{include="header"}
<div class="container-fluid">
        <div class="btn-group">
            <a data-toggle="modal" data-target="#mail" class="btn btn-sm btn-primary" href="#">
                <span class="glyphicon glyphicon-send"></span>
                <span class="hidden-xs"> &nbsp; Enviar mail por consulta</span>
            </a>
        </div>
    <div class="row">
        <br>
        <div class="col-sm-4">
            <a data-toggle="modal" data-target="#1" class="btn btn-sm btn-block btn-default">
                <span class="badge">1</span> &nbsp;
                ¿Cómo comenzar?
            </a>
        </div>
        <div class="col-sm-4">
            <a data-toggle="modal" data-target="#2" class="btn btn-sm btn-block btn-default">
                <span class="badge">2</span> &nbsp;
                ¿Cómo cargar artículos?
            </a>
        </div>
        <div class="col-sm-4">
            <a data-toggle="modal" data-target="#3" class="btn btn-sm btn-block btn-default">
                <span class="badge">3</span> &nbsp;
                ¿Cómo usar el punto de venta?
            </a>
        </div>
        <br><br>
        <div class="col-sm-4">
            <a data-toggle="modal" data-target="#4" class="btn btn-sm btn-block btn-default">
                <span class="badge">4</span> &nbsp;
                ¿Cómo crear turnos/servicios?
            </a>
        </div>
    </div>
    <hr>
    <h3>Cualquier duda no olvides que cuentas con envios de mail directamente con el programador general por si tienes alguna duda :D</h3>
</div>

<form class="form" role="form" name="f_enviar_email" action="{$fsc->url()}" method="post" enctype="multipart/form-data">
   <input type="hidden" name="codcliente" value="{$fsc->servicio->codcliente}"/>
   <div class="modal" id="mail">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">
                  <span class="glyphicon glyphicon-envelope"></span>&nbsp;
                  Enviar sugerencia o error
               </h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon">De</span>
                     <select name="de" class="form-control">
                        {if="$fsc->user->email"}
                        <option>{$fsc->user->email}</option>
                        {/if}
                        <option>{$fsc->empresa->email}</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon">Para</span>
                     <input id="ac_email" class="form-control" type="text" name="email" value="sartin.consultas@gmail.com" autocomplete="off" readonly/>
                  </div>
               </div>
               <div class="form-group">
                  <textarea class="form-control" name="mensaje" rows="6">Exprese aqui su problema, lo mas detallado posible con su nombre y apellido :D </textarea>
               </div>
               <div class="form-group">
                  <input name="adjunto" type="file"/>
               </div>
               {loop="$fsc->extensions"}
                  {if="$value->type=='email'"}
                  <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.action='index.php?page={$value->from}{$value->params}&id={$fsc->servicio->idservicio}';this.form.submit();">
                     <span class="glyphicon glyphicon-send"></span> &nbsp;  Enviar  
                  </button>
                  {/if}
               {/loop}
            </div>
         </div>
      </div>
   </div>
</form>

    <div class="modal" id="2">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">
                  <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;
                    ¿Cómo cargar artículos?
               </h4>
            </div>
             <div class="modal-body">
                 <div class="row">
                     <div class="col-sm-6">
                         <a href="plugins/ayudas/img/2-1.png" target='blank' class="thumbnail">
                          <img src="plugins/ayudas/img/2-1.png" alt="...">
                        </a>
                     </div>
                     <div class='col-sm-6'>
                         Ir a Compras -> Remitos
                     </div>
                  </div>
                 <hr>
                  <div class="row">
                     <div class='col-sm-6'>
                         <a href="plugins/ayudas/img/2-2.png" target='blank' class="thumbnail">
                          <img src="plugins/ayudas/img/2-2.png" alt="...">
                        </a>
                     </div>
                     <div class='col-sm-6'>
                         Una vez dentro hacer click, en <span class="glyphicon glyphicon-plus"></span> Nuevo.
                     </div>
                 </div>
                 <hr>
                 <div class="row">
                     <div class='col-sm-6'>
                         <a href="plugins/ayudas/img/2-3.png" target='blank' class="thumbnail">
                          <img src="plugins/ayudas/img/2-3.png" alt="...">
                        </a>
                     </div>
                     <div class='col-sm-6'>
                        Ahora debes buscar a un proveedor ya creado, y si no creas uno nuevo en el recuadro azul al final de la ventana.
                     </div>
                 </div>
                 <hr>
                 <div class="row">
                     <div class='col-sm-6'>
                         <a href="plugins/ayudas/img/2-4.png" target='blank' class="thumbnail">
                          <img src="plugins/ayudas/img/2-4.png" alt="...">
                        </a>
                     </div>
                     <div class='col-sm-6'>
                        Para agregar lineas a la compra debes dar click en Buscar para añadir...
                     </div>
                 </div>
                 <hr>
                 <div class="row">
                     <div class='col-sm-6'>
                         <a href="plugins/ayudas/img/2-5.png" target='blank' class="thumbnail">
                          <img src="plugins/ayudas/img/2-5.png" alt="...">
                        </a>
                     </div>
                     <div class='col-sm-6'>
                        ¡Bien! Ahora puedes buscar algun articulo ya cargado para añadirlo a la compra o bien podes crear uno nuevo.
                     </div>
                 </div>
                 <hr>
                 <div class="row">
                     <div class='col-sm-6'>
                         <a href="plugins/ayudas/img/2-6.png" target='blank' class="thumbnail">
                          <img src="plugins/ayudas/img/2-6.png" alt="...">
                        </a>
                     </div>
                     <div class='col-sm-6'>
                        En la seccion para cargar Sartin te pedirá los datos básicos para poder cargar el artículo, asegurate
                        de cargarlos adecuadamente, ya que estos datos quedarán registrados para buscar el articulo.
                        <br>
                        <strong>Referencia</strong> sera la clave primaria del articulo.
                        <br>
                        <strong>Ref proveedor</strong> se inserta el codigo de proveedor.
                        <br>
                        <strong>Precio de compra</strong> el precio de coste del articulo.
                        <br>
                        <strong>Precio de venta</strong> el precio con el que venderás el artículo.
                     </div>
                 </div>
                 <hr>
                 <div class="row">
                     <div class='col-sm-6'>
                         <a href="plugins/ayudas/img/2-7.png" target='blank' class="thumbnail">
                          <img src="plugins/ayudas/img/2-7.png" alt="...">
                        </a>
                     </div>
                     <div class='col-sm-6'>
                         Una vez seleccionados todos los productos, colocarás la cantidad que compraste y el descuento que te hizo el proveedor... si es que lo hizo...
                     </div>
                 </div>
                 <hr>
                 <div class="row">
                     <div class='col-sm-6'>
                         <a href="plugins/ayudas/img/2-8.png" target='blank' class="thumbnail">
                          <img src="plugins/ayudas/img/2-8.png" alt="...">
                        </a>
                     </div>
                     <div class='col-sm-6'>
                        Luego de darle a guardar, Sartin te preguntará como quieres guardarlo, como factura o remito, dependiendo la situación eligirás.
                        La factura hace un compra inmediata, en cambio el remito tenes que aprobarlo luego de generarlo.<br>
                        Tambien te da la opción de colocarle el codigo de documento del proveedor, la forma de pago, si quieres añadir al stock y actualizar el precio de coste.
                     </div>
                 </div>
                  <hr>
                 <div class="row">
                     <div class='col-sm-6'>
                         <a href="plugins/ayudas/img/2-9.png" target='blank' class="thumbnail">
                          <img src="plugins/ayudas/img/2-9.png" alt="...">
                        </a>
                     </div>
                     <div class='col-sm-6'>
                         Buenísimo, cargaste tu remito correctamente, ahora Sartin te mostrará todos los datos de la compra. Y funciones muy interesantes,
                         como el envío de emails, los detalles y la pestaña actualizar que explicaré a continuación.
                     </div>
                 </div>
                  <hr>
                 <div class="row">
                     <div class='col-sm-6'>
                         <a href="plugins/ayudas/img/2-10.png" target='blank' class="thumbnail">
                          <img src="plugins/ayudas/img/2-10.png" alt="...">
                        </a>
                     </div>
                     <div class='col-sm-6'>
                         Desde aquí puedes modificar todos los datos de los artículos cargados en el documento de compra, de esta manera es mas fácil editar artículos 
                         con datos incompletos :D
                     </div>
                 </div>
                  <hr>
                 <div class="row">
                     <div class='col-sm-6'>
                         <a href="plugins/ayudas/img/2-11.png" target='blank' class="thumbnail">
                          <img src="plugins/ayudas/img/2-11.png" alt="...">
                        </a>
                     </div>
                     <div class='col-sm-6'>
                         Una vez que te sientes seguro/a de aprobar este remito sólo te resta ir al boton Pendiente y dale a la opción Aprobar!<br>
                         Te preguntará la fecha de la factura y ya se generará tu documento de factura nuevo!<br>
                         También tenemos la opción agrupar, que te permite facturar en un par de clicks todos los remitos pendientes de este mismo proveedor!
                     </div>
                 </div>
                  <hr>
                  <div class="row">
                     <div class='col-sm-6'>
                         <a href="plugins/ayudas/img/2-12.png" target='blank' class="thumbnail">
                          <img src="plugins/ayudas/img/2-12.png" alt="...">
                        </a>
                     </div>
                     <div class='col-sm-6'>
                         Felicitaciones, aprendiste a cargar artículos y agregar los gastos de compra a Sartin, gracias a estos datos Sartin podrá generar un balance
                         entre todas tus compras y ventas. Así calculando tu beneficio total! Sos groso sabelo.
                     </div>
                 </div>
                  <div class="row">
                     <div class='col-sm-12'>
                         <a href="" target='blank' class="thumbnail">
                          <img src="plugins/ayudas/img/fin.jpg" alt="...">
                        </a>
                     </div>
                 </div>
             </div>
         </div>
      </div>
    </div>

    <div class="modal" id="1">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">
                  <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;
                    ¿Cómo comenzar?
               </h4>
            </div>
            <div class="modal-body">
                <h1 align="center"><span class="glyphicon glyphicon-question-sign"></span></h1>
                <p>Buenas! :), cómo estás? Seguramente me lees porque no entiendes como comenzar a utilizar el software y
                no te sientas mal! Yo estaria en la misma situación, por eso creamos esta seccion de <strong>Ayuda</strong>,
                para intentar solventar todas tus dudas, de todas maneras tienes en la parte superior izquierda un botón para
                enviarnos un Email por cualquier duda que tengas! Arriba ese ánimo, en menos de 1 hora estarás facturando 
                como un profesional.</p>
                <hr>
                <h4>¿Cómo funciona Sartin Soft?</h4>
                <div class="row">
                    <div class="col-sm-3">
                        <a href="#" class="thumbnail">
                          <img src="plugins/ayudas/img/1-1.jpg" alt="...">
                        </a>
                    </div>
                    <div class="col-sm-9">
                        Nuestro Software se compone por varios módulos que se encargan de trabajos específicos, por ejemplo: <br>
                        <strong>facturacion_base</strong> se encarga de gestionar los menús de venta y compra, calcula para generar los informes,
                        es en donde se aloja la información de clientes y proveedores, y mas...<br>
                        Ya teniendo ese ejemplo entendemos como trabaja Sartin Software.
                    </div>
                    <div class="col-sm-12">
                        <h3>Genial.. ¿Y ahora como comienzo? </h3>
                    </div>
                    <div class="col-sm-12">
                        Ok! No deseperes, te daré un listado de tareas para que entiendas el Software y de paso irás cargando
                        información útil para el futuro!
                    </div>
                    <div class="col-sm-6">
                        <div class="well well-sm">
                            <strong>Crea tus categorias</strong>
                            <br>
                            Pincha <a href="index.php?page=ventas_categorias" target="blank">este </a>enlace y crea las categorias para tus artículos!
                            <br>
                            <strong>Accesible desde el menú: <span class="fa fa-cubes"></span> Artículos -> <span class="glyphicon glyphicon-folder-open"></span> Categorias</strong>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="well well-sm">
                            <strong>Crea tus fabricantes</strong>
                            <br>
                            Pincha <a href="index.php?page=ventas_fabricante" target="blank">este </a>enlace y crea los fabricantes para tus artículos!
                            <br>
                            <strong>Accesible desde el menú: <span class="fa fa-cubes"></span> Artículos -> <span class="glyphicon glyphicon-folder-open"></span> Fabricantes</strong>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="well well-sm">
                            <strong>¿Configuraste facturacion_base?</strong>
                            <br>
                            Pincha <a href="http://localhost/ofi/index.php?page=base_wizard" target="blank">este </a>enlace y comienza a configurar la facturación de tu empresa.
                            <br>
                            En este configurador también vas a dar de alta el mail que va a usar Sartin.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="well well-sm">
                            <strong>¿Diste de alta a tus clientes?</strong>
                            <br>
                            Si no lo hiciste pincha <a href="index.php?page=ventas_clientes" target="blank">este </a>enlace y carga a tus
                            clientes! El sistema cargará por si sólo un cliente genérico, que se utilizará para generalizar las ventas que hagas!
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="well well-sm">
                            <strong>¿Diste de alta a tus proveedores?</strong>
                            <br>
                            Si no lo hiciste pincha <a href="index.php?page=compras_proveedores" target="blank">este </a>enlace y carga a tus
                            clientes! Esto sirve para saber de donde compras todos los articulos.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="well well-sm">
                            <strong>Configurá los impuestos</strong>
                            <br>
                            Pincha <a href="index.php?page=contabilidad_impuestos" target="blank">este </a>enlace para ver los impuestos
                            predeterminados, podes cargar todos los que quieras, estos se eligirán al momento que este emitiendo
                            algún documento.
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="well well-sm">
                            <strong>Configurá las formas de pago</strong>
                            <br>
                            Pincha <a href="index.php?page=contabilidad_formas_pago" target="blank">este </a>enlace para ver las formas de pago comunes.
                            Desde esta sección podes configurar los vencimientos y las cuentas corrientes
                            <br><hr>
                            <strong>Ya terminaste lo básico! Por favor, lee los otros instructivos! Te ayudaran de mucho si aun sos novato con Sartin Soft!</strong>
                        </div>
                    </div>
               </div>
            </div>
         </div>
      </div>
   </div>

    <div class="modal" id="3">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">
                  <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;
                    ¿Cómo usar el punto de venta?
               </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/3-1.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/3-1.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        ¡Ya estás muy cerca de ser un experto en Sartin Soft!
                        <br>
                        Para utilizar el punto de venta primero debes configurarlo.<br>
                        Vé a Puntos de venta -> Arqueos y configuración.
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/3-2.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/3-2.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        Una vez dentro haz click en la pestaña "Configuración".<br>
                        Primero hay configurar estos parámetros antes de utilizar
                        el punto de venta.<br>
                        <strong>Articulo varios:</strong> Acá debe insertar la referencia de un articulo
                        el cual dejará utilizar una característica muy interesante, que se trata de
                        poner este artículo rapidamente con un click para venderlo rapidamente, generalmente
                        se coloca la referencia de un artículo genérico para modificar el precio y la cantidad
                        haciendo así un artículo "comodín"<br>
                        <strong>Forma de pago en efectivo:</strong> Aquí debe configurar el modo de pago predeterminado para pagos en efectivo
                        <br>
                        <strong>Forma de pago con tarjeta de crédito:</strong> Igual que la opción anterior, si activa la forma de pago con tarjeta, podrá cobrar las ventas
                        con las 2 formas de pago, individualmente o en conjunto! De esta manera, damos la posibilidad de hacer un cobro mixto.
                        <strong>Categorias:</strong> Aquí debe habilitar las categorias disponibles para el punto de venta.
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/3-3.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/3-3.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        ¡Geeeeenial! Una vez configurado el punto de venta, se tiene que crear una terminal
                        que se encargará de abrir caja, cerrar caja y arqueos.<br>
                        <strong>Nombre:</strong> Se debe insetar el nombre de la terminal.<br>
                        <strong>Almacén:</strong> El almacén de donde se descontará el stock.<br>
                        <strong>Tipo de documento:</strong> El tipo de documento que guardará.<br>
                        <strong>Cliente:</strong> Aquí debe colocar su código de cliente predeterminado<br>
                        <strong>N° factura</strong> el número de comienzo de las facturas.
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/3-4.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/3-4.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'> 
                        Ahora ya tienes todo configurado para empezar a usar el punto de venta<br>
                        Ve al menú Puntos de venta-> Punto de venta. Selecciona tu terminal e indíca cuanto dinero hay en la caja
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/3-5.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/3-5.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        El punto de venta se divíde en 2 partes.<br>
                        A la izquierda verá todas las categorias disponibles gracias a la configuración previa,
                        al hacerle click podrá ver todos los artículos que contiene cada categoria, de esta manera
                        podemos buscar artículos especificos muy rápido<br>
                        Proseguiré explicando la sección derecha.
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/3-6.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/3-6.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        A la derecha, están todas las herramientas de cobro, en la imagen puede ver
                        que ya se seleccionó un artículo gracias a la seccion izquierda de filtro por categorias<br>
                        También puede añadir una línea libre que utilizará el artículo genérico configurado previamente<br>
                        Además de busqueda rápida por códigos de barra o utilizar la función de buscar tradicional. 
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/3-7.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/3-7.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        En la parte superior derecha, podrá optar por dos opciones, "Cobrar" o "En Espera"<br>
                        Acá vemos la opción cobrar que abrirá una ventana de cobro, que calculará el cambio para el cliente automáticamente.<br>
                        Cuando le de click a Cobrar se generará su factura.
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/3-8.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/3-8.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        Si utilzamos la opción "en espera" nos pondrá en espera la venta seleccionada, para poder utilizarla mas tarde<br>
                        Imagíne que el cliente se vá porque olvidó su billetera en el auto y debe serguir cobrando<br>
                        Se ahorrará mucho tiempo.<br>
                        En la pestaña Historial también verá las ultimas ventas generadas.
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/3-9.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/3-9.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        En la pestaña "Caja" tiene la opción de hacer movimientos, puede ingresar
                        o extraer dinero colocando el motivo por el cual se hizo el movimiento.<br>
                        También tiene la opción de cerrar caja, una vez que le dé click lo derivará a hacer el arqueo.
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/3-10.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/3-10.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        Esta es la sección de arqueo, acá vamos a contar todas las monedas y billetes que hayan en la caja<br>
                        Luego de contar todo nos cerrará la caja.
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/3-11.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/3-11.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        Luego en arqueos y configuración estaran todos los arqueos 
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/3-12.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/3-12.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        Cuando le hagamos click, veremos todas las facturas, movimiento y datos de arqueo.
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/3-13.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/3-13.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        En la pestaña arqueo veremos los datos de arqueo, la cantidad de monedas y billetes contados, totales de caja y formas de pago. <br>
                        ¡Eso es todo amigos! Aprendiste a usar la sección de puntos de venta! Cualquier consulta no dudes en enviarme un email.
                    </div>
                 </div>
                <hr>
            </div>
         </div>
      </div>
    </div>

    <div class="modal" id="4">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">
                  <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
                 ¿Cómo crear servicios/turnos?
               </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/4-1.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/4-1.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        Ahora aprenderemos a crear Servicios/turnos, primero nos aseguramos que esté
                        activado el plugin
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/4-2.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/4-2.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        Una vez activado nos redireccionará al configurador, de lo contrario tienes este <a href='index.php?page=opciones_servicios#plugins'> enlace</a>
                        para ir al configurador<br>
                        En la pestaña general podremos configurar nuestras condiciones de servicio y nuestro dias estimados para finalizacion de el turno/servicio.
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/4-3.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/4-3.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        ¡Bien! Ahora debemos configurar nuestros campos a llenar, estos son los datos que se pediran al momento de
                        crear un turno/servicio. El campo Requerido hace que sea obligatorio llenarlo al momento de generar el formulario.
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/4-4.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/4-4.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        En la pestaña "Estados" configuraremos las etapas de nuestro turno/servicio, si aun no entiendes te doy un ejemplo:<br>
                        Hagamos de cuenta que creas un turno/servicio nuevo para la semana que viene, este turno/servicio estará pendiente hasta que venga el cliente,
                        pasa una semana y tu cliente viene y terminas con el trabajo, debemos pasar este turno/servicio al Estado "Completado".<br>
                        De esta manera facturamos nuestro turno/servicio y ya no nos saldrá en nuestra agenda electrónica y tampoco en la seccion de Turnos/Servicios.
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/4-5.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/4-5.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        En la pestaña "Traducciones" vamos a traducir nuestros campos a rellenar al momento de crear nuestro turno/servicio<br>
                        Sólo agrega la traducción para que tu turno/servicio quede a tu medida.
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/4-6.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/4-6.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        Ya casi terminamos.<br>
                        Acá configuraras tu calendario, en donde tus turnos/servicio se acomodarán automáticamente para que puedas ver tu agenda electrónica y asi optimizar tus tiempos.
                    </div>
                 </div>
                <hr>
                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/4-7.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/4-7.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        Una vez terminado de configurar el plugin, nos irémos al menú <strong>Servicio -> Servicios a clientes</strong><br>
                        Aquí veremos todos los turnos/servicio generados, acomodados cronológicamente, con un buscador para identificar mejor nuestro turno/servicio<br>
                        Para crear un turno/servicio le daremos al botón <span class="glyphicon glyphicon-plus"></span> Nuevo.
                    </div>
                 </div>
                 <hr>
                 <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/4-8.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/4-8.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        Seleccionamos nuestro cliente o creamos uno nuevo si no lo tenemos en la base de datos.
                    </div>
                 </div>
                 <hr>
                 <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/4-9.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/4-9.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        Llenaremos los campos que configuramos previamente y seleccionaremos la fecha y la hora en la que vendrá la persona..
                    </div>
                 </div>
                 <hr>
                 <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/4-10.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/4-10.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        Le damos a guardar y ya nos cargara a la base de datos nuestro turno/servicio.<br>
                        Nos generará un código único para poder identificarlo, y tambien podremos imprimir o enviarlo por mail y también podremos enviar SMS desde el Software.
                    </div>
                 </div>
                 <hr>
                 <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/4-11.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/4-11.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        En la pestaña "Líneas" seleccionaremos los artículos/servicios que prestamos para el trabajo.<br>
                        Para que luego al facturarlos tenga un valor el turnos/servicios.
                    </div>
                 </div>
                 <hr>
                 <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/4-12.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/4-12.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        En el calendario veremos que día tendremos siguientes turnos.
                    </div>
                 </div>
                 <hr>
                 <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/4-13.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/4-13.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        Llegó el dia, ya vino nuestro cliente y ya terminamos el trabajo.<br>
                        Una vez finalizado pasaremos nuestro turno al estado de terminado.<br>
                        Ahora nuestro servicio ya generó un remito y dara por terminado este turno.
                    </div>
                 </div>
                 <hr>
                 <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/4-14.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/4-13.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        Genial. Ya aprendiste a utilizar el plugins Servicios!
                    </div>
                 </div>
                 <hr>
            </div>
         </div>
      </div>
    </div>
          
{include="footer"}