{include="header"}

{if="$fsc->servicio"}
<div class="text-center">
   <a href="index.php?page=ayuda_home" class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> &nbsp; Volver
   </a>
</div>
{/if}

{include="footer"}