                <div class="row">
                    <div class='col-sm-6'>
                        <a href="plugins/ayudas/img/4-1.png" target='blank' class="thumbnail">
                            <img src="plugins/ayudas/img/4-1.png" alt="...">
                        </a>
                    </div>
                    <div class='col-sm-6'>
                        
                    </div>
                 </div>
                 <hr>