{include="header"}

{if="$fsc->url_recarga"}
<script type="text/javascript">
   function recargar()
   {
      window.location.href = '{$fsc->url_recarga}';
   }
   $(document).ready(function() {
      setTimeout(recargar, 1000);
   });
</script>
{/if}

<script type="text/javascript">
   function facturar()
   {
      document.f_facturador.procesar.value = 'TRUE';
      document.f_facturador.submit();
   }
</script>

<div class="container">
   <form name="f_facturador" class="form" action="{$fsc->url()}" method="post">
      <input type="hidden" name="procesar" value="FALSE"/>
      <div class="row">
         <div class="col-sm-12">
            <div class="page-header">
               <h1>
                  <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
                  MegaFacturador
                  <a href="{$fsc->url()}" class="btn btn-xs btn-default" title="Recargar la página">
                     <span class="glyphicon glyphicon-refresh"></span>
                  </a>
                  <span class="btn-group">
                  {loop="$fsc->extensions"}
                     {if="$value->type=='button'"}
                     <a href="index.php?page={$value->from}{$value->params}" class="btn btn-xs btn-default">{$value->text}</a>
                     {/if}
                  {/loop}
                  </span>
               </h1>
               <p class="help-block">
                  Elige qué es lo que quieres facturar, cómo y pulsa el botón empezar.
               </p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4">
            <div class="checkbox">
               <label>
                  <input type="checkbox" name="megafac_ventas" value="TRUE"{if="$fsc->opciones['megafac_ventas']"} checked=""{/if}/>
                  {#FS_ALBARANES#} de venta pendientes <span class="badge">{$fsc->total_pendientes_venta()}</span>
               </label>
            </div>
            <div class="checkbox">
               <label>
                  <input type="checkbox" name="megafac_compras" value="TRUE"{if="$fsc->opciones['megafac_compras']"} checked=""{/if}/>
                  {#FS_ALBARANES#} de compra pendientes <span class="badge">{$fsc->total_pendientes_compra()}</span>
               </label>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               <span class="text-capitalize">{#FS_SERIE#}:</span>
               <select name="megafac_codserie" class="form-control" onchange="this.form.submit();">
                  <option value="">Todas</option>
                  <option value="">------</option>
                  {loop="$fsc->serie->all()"}
                     {if="$fsc->opciones['megafac_codserie']==$value->codserie"}
                     <option value="{$value->codserie}" selected="">{$value->descripcion}</option>
                     {else}
                     <option value="{$value->codserie}">{$value->descripcion}</option>
                     {/if}
                  {/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               Facturar con fecha:
               <select name="megafac_fecha" class="form-control" onchange="this.form.submit();">
                  <option value="hoy">Hoy</option>
                  {if="$fsc->opciones['megafac_fecha']=='albaran'"}
                  <option value="albaran" selected="">El mismo día del {#FS_ALBARAN#}</option>
                  {else}
                  <option value="albaran">El mismo día del {#FS_ALBARAN#}</option>
                  {/if}
               </select>
            </div>
         </div>
         <div class="col-sm-2 text-right">
            <br/>
            <button class="btn btn-sm btn-primary" type="button" onclick="this.disabled=true;facturar()">
               <span class="glyphicon glyphicon-play"></span> &nbsp; Empezar
            </button>
         </div>
      </div>
   </form>
</div>

{include="footer"}