{include="header2"}
<div class="container-fluid">
<div class="row">
    <div class="col-sm-8">
        <form name="enviar()" method="post" action="{$fsc->url()}&id={$fsc->cliente->codcliente}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Enviar SMS al cliente
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                            Numero:
                            <input class="form-control" name="addNumero" value="{$fsc->cliente->telefono1}">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                            Mensaje
                            <textarea class="form-control" name="setMensaje"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                <button class="btn btn-success" type="submit">
                <span class="glyphicon glyphicon-send"></span> Enviar
                </button>
                </div>
            </div>
        </form>
    </div>
    <form name="parametrossmsc" method="post" action="{$fsc->url()}&id={$fsc->cliente->codcliente}">
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Configurar parametros de SMSC
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        Usuario:
                        <input class="form-control" name="usersmsc" value="{$fsc->paramsms['usersmsc']}" placeholder="Usuario de SMSC">
                    </div>
                    <div class="form-group">
                        APIkey
                        <input class="form-control" name="apikey" value="{$fsc->paramsms['apikey']}" placeholder="tu código apikey">
                        <p class="help-block">
                            Lo puede conseguir en este <a href="https://www.smsc.com.ar/usuario/api/">enlace</a>.
                        </p>
                    </div>
                </div>
                <div class="panel-footer text-right">
                <button class="btn btn-success" type="submit">
                <span class="glyphicon glyphicon-save"></span> Guardar
                </button>
                </div>
            </div>    
        </div>
    </form>
        
</div>
</div>
{include="footer2"}