{include="header"}

{if="$fsc->cerrado!=true"}
<script type="text/javascript">
   function fs_marcar_todo()
	{
      $('#f_enable_backup input:checkbox').prop('checked', true);
	}
	function fs_marcar_nada()
	{
      $('#f_enable_backup input:checkbox').prop('checked', false);
	}
</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               Backups
               <a href="{$fsc->url()}" class="btn btn-xs btn-default">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
            </h1>
         </div>
      </div>
   </div>
   <form name="f_enable_backup" id="f_enable_backup" action="{$fsc->url()}" method="post" class="form">
      <div class="row">
         <div class="col-sm-4">
            <div class="btn-group">
               <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_todo()" title="Marcar todo">
						  <span class="glyphicon glyphicon-check"></span>
					</button>				   
					<button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_nada()" title="Desmarcar todo">
						  <span class="glyphicon glyphicon-unchecked"></span>
					</button>
            </div>
         </div>
         <div class="col-sm-8 text-right">
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.action='{$fsc->url()}&tipo_backup=selestructura';this.form.submit();">
               <span class="glyphicon glyphicon-floppy-disk"></span>
               &nbsp; Respaldar Estructura de las Tablas Seleccionadas
            </button>
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.action='{$fsc->url()}&tipo_backup=seltodo';this.form.submit();">
               <span class="glyphicon glyphicon-floppy-disk"></span>
               &nbsp; Respaldar Estructura + Datos de las Tablas Seleccionadas
            </button>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <br/>
            <div class="panel panel-info">
               <div class="panel-heading">
                  <h3 class="panel-title">{#FS_DB_NAME#}</h3>
               </div>
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th class="text-left" width="150">Tablas</th>
                           <th class="text-left">Columnas / Campos</th>
                        </tr>
                     </thead>
                     {loop="$fsc->tabla"}
                     <tr>
                        <td>
                           <label class="checkbox-inline">
                              <input class="checkbox-inline" type="checkbox" name="enabled[]" value="{$key}"/> {$key}
                           </label>
                        </td>
                        <td>{$value}</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
            </div>
         </div>
      </div>
   </form>
</div>
{/if}

{include="footer"}