{include="header"}
<div class='container-fluid'>
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               Empresa / web
               <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
            </h1>
            <p class="help-block">
               <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;
               Para poder configurar el resto de opciones de la empresa debes instalar el plugin
               <b>facturacion_base</b>.
            </p>
         </div>
      </div>
   </div>
   <form name="f_empresa" action="{$fsc->page->url()}" method="post" class="form" role="form">
      <div class="row">
         <div class="col-sm-4">
            <div class="panel panel-primary">
               <div class="panel-heading">
                  <h3 class="panel-title">Datos generales</h3>
               </div>
               <div class="panel-body">
                  <div class="form-group">
                     Nombre:
                     <input class="form-control" type="text" name="nombre" value="{$fsc->empresa->nombre}" autocomplete="off" autofocus />
                  </div>
                  <div class="form-group">
                     Nombre Corto:
                     <input class="form-control" type="text" name="nombrecorto" value="{$fsc->empresa->nombrecorto}" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                     Web:
                     <input class="form-control" type="text" name="web" value="{$fsc->empresa->web}" autocomplete="off"/>
                  </div>
               </div>
               <div class="panel-footer text-right">
                  <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                  </button>
               </div>
            </div>
         </div>
         <div class="col-sm-8">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">Configuración de email</h3>
               </div>
               <div class="panel-body">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="form-group">
                           <div class="input-group">
                              <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-envelope"></span>
                              </span>
                              <input class="form-control" type="email" name="email" value="{$fsc->empresa->email}" autocomplete="off" placeholder="email" autofocus=""/>
                           </div>
                           <p class="help-block">
                              ¿Quieres usar tunombre@tuempresa.com?
                              Prueba gratis <a href="https://goo.gl/bRFlmv" target="_blank">Google Apps for Work</a>.
                           </p>
                        </div>
                     </div>
                     <div class="col-sm-4">
                        <div class="form-group">
                           <div class="input-group">
                              <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-eye-close"></span>
                              </span>
                              <input class="form-control" type="password" name="mail_password" value="{$fsc->empresa->email_config['mail_password']}" placeholder="contraseña"/>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-4">
                        <div class="form-group">
                           <div class="input-group">
                              <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-duplicate"></span>
                              </span>
                              <input class="form-control" type="text" name="mail_bcc" value="{$fsc->empresa->email_config['mail_bcc']}" placeholder="Enviar copias a"/>
                           </div>
                           <p class="help-block">Puedes escribir un email para que se envíe copia de todo.</p>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="form-group">
                           Firma:
                           <textarea class="form-control" name="mail_firma" rows="4">{$fsc->empresa->email_config['mail_firma']}</textarea>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="panel-footer text-right">
                  <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.action='{$fsc->url()}#email';this.form.submit();">
                     <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                  </button>
               </div>
            </div>
            
            <div class="panel panel-warning">
               <div class="panel-heading">
                  <h3 class="panel-title">Si no usas Gmail o Google Apps, rellena <b>también</b> estos datos</h3>
               </div>
               <div class="panel-body">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="form-group">
                           Host:
                           <div class="input-group">
                              <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-globe"></span>
                              </span>
                              <input class="form-control" type="text" name="mail_host" value="{$fsc->empresa->email_config['mail_host']}" autocomplete="off"/>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <div class="form-group">
                           Puerto:
                           <input class="form-control" type="number" name="mail_port" value="{$fsc->empresa->email_config['mail_port']}" autocomplete="off"/>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="form-group">
                           Encriptación:
                           <select name="mail_enc" class="form-control">
                              <option value="ssl">SSL</option>
                              <option value="tls"{if="$fsc->empresa->email_config['mail_enc']=='tls'"} selected=""{/if}>TLS</option>
                              <option value="">---</option>
                              <option value=""{if="$fsc->empresa->email_config['mail_enc']==''"} selected=""{/if}>Ninguna</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="form-group">
                           Usuario:
                           <input class="form-control" type="text" name="mail_user" value="{$fsc->empresa->email_config['mail_user']}" autocomplete="off"/>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="checkbox">
                           <label>
                              {if="$fsc->empresa->email_config['mail_low_security']"}
                              <input type="checkbox" name="mail_low_security" value="TRUE" checked=""/>
                              {else}
                              <input type="checkbox" name="mail_low_security" value="TRUE"/>
                              {/if}
                              Permitir certificados de servidor poco seguros: los certificados
                              autofirmados son algo habitual en servidores dedicados,
                              aunque poco seguros. Activa esta opción si no puedes conectar
                              a tu servidor de correo aunque los datos sean correctos.
                           </label>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="panel-footer">
                  <p class="help-block">
                     Si tienes problemas configurando el email de <b>loading.es</b>,
                     usa el puerto 25 y la encriptación TLS.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </form>
</div>

{include="footer"}