{include="header"}

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-exclamation-sign"></span>
               Página no encontrada
            </h1>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-8">
         <div class="panel panel-danger">
            <div class="panel-heading">
               <h3 class="panel-title">Ayuda</h3>
            </div>
            <div class="panel-body">
               <p class="help-block">
                  No se encuentra el controlador de esta página.
                  Consulta con el administrador.
               </p>
            </div>
         </div>
      </div>
      <div class="col-sm-4">
         <div class="thumbnail">
            <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
         </div>
      </div>
   </div>
</div>

{include="footer"}
